apiVersion: v1
kind: Namespace
metadata:
  name: {{.Namespace}}
  labels:
    type: app
    name: {{.Name}}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: {{.Namespace}}
  name: {{.Name}}
spec:
  podSelector: {}
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          system: convox
          scope: system
