{{ define "formation" }}
  {
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Parameters" : {
      {{ template "process-params" . }}

      "Cluster": {
        "Type" : "String",
        "Default" : "",
        "Description" : ""
      },
      "Environment": {
        "Type": "String",
        "Default": "",
        "Description": ""
      },
      "EnvironmentKey": {
        "Type": "String",
        "Default": "",
        "Description": ""
      },
      {{ if .HasPortMappings }}
        "HealthCheck": {
          "Type" : "String",
          "Default" : "",
          "Description" : ""
        },
      {{ end }}
      "Kernel": {
        "Type" : "String",
        "Default" : "",
        "Description" : ""
      },
      "Repository": {
        "Type" : "String",
        "Default" : "",
        "Description" : "Source code repository"
      },
      "Subnets": {
        "Type" : "List<AWS::EC2::Subnet::Id>",
        "Default" : "",
        "Description" : "VPC subnets for this app"
      },
      "VPC": {
        "Type" : "AWS::EC2::VPC::Id",
        "Default" : "",
        "Description" : "VPC for this app"
      }
    },
    "Resources": {
      {{ template "process-resources" . }}

      {{ template "balancer" . }}
      {{ template "security" }}
      {{ template "state" }}
    },
    "Outputs": {
      {{ if .HasPortMappings }}
        "BalancerHost": {
          "Value": { "Fn::GetAtt": [ "Balancer", "DNSName" ] }
        },
      {{ end }}
      "Settings": {
        "Value": { "Ref": "Settings" }
      }
    }
  }
{{ end }}

{{ define "process-params" }}
  {{ range $k, $e := . }}
    {{ range $e.Ports }}
      {{ $parts := (split . ":") }}
      "{{ upper $k }}Port{{ index $parts 0 }}": {
        "Type" : "String",
        "Default" : "{{ index $parts 0 }}",
        "Description" : ""
      },
    {{ end }}
    "{{ upper $k }}Command": {
      "Type" : "String",
      "Default" : "{{ $e.Command }}",
      "Description" : ""
    },
    "{{ upper $k }}Image": {
      "Type" : "String",
      "Default" : "",
      "Description" : ""
    },
    "{{ upper $k }}Scale": {
      "Type" : "Number",
      "Default" : "1",
      "Description" : ""
    },
  {{ end }}
{{ end }}

{{ define "process-resources" }}
  {{ range $ps, $entry := . }}
    "{{ upper $ps }}TaskDefinition": {
      "Type": "Custom::ECSTaskDefinition",
      "Properties": {
        "ServiceToken": { "Ref": "Kernel" },
        "Name": { "Fn::Join": [ "-", [ { "Ref": "AWS::StackName" }, "{{ $ps }}" ] ] },
        "Image": { "Ref": "{{ upper $ps }}Image" },
        "Command": { "Ref": "{{ upper $ps }}Command" },
        "CPU": "200",
        "Memory": "300",
        "PortMappings": [ {{ portmappings $entry }} ]
      }
    },
    "{{ upper $ps }}Service": {
      "Type": "Custom::ECSService",
      "Properties": {
        "ServiceToken": { "Ref": "Kernel" },
        "Cluster": { "Ref": "Cluster" },
        "DesiredCount": { "Ref": "{{ upper $ps }}Scale" },
        "Name": { "Fn::Join": [ "-", [ { "Ref": "AWS::StackName" }, "{{ $ps }}" ] ] },
        "TaskDefinition": { "Ref": "{{ upper $ps }}TaskDefinition" },
        "Role": { "Ref": "ServiceRole" },
        "LoadBalancers": [ {{ loadbalancers $entry }} ]
      }
    },
  {{ end }}
{{ end }}

{{ define "balancer" }}
  {{ if .HasPortMapppings }}
    "BalancerSecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "GroupDescription": { "Fn::Join": [ " ", [ { "Ref": "AWS::StackName" }, "-balancer" ] ] },
        "SecurityGroupIngress": [ {{ ingress . }} ],
        "VpcId": { "Ref": "VPC" }
      }
    },
    "Balancer": {
      "Type": "AWS::ElasticLoadBalancing::LoadBalancer",
      "Properties": {
        "Subnets": { "Ref": "Subnets" },
        "ConnectionDrainingPolicy": { "Enabled": true, "Timeout": 60 },
        "ConnectionSettings": { "IdleTimeout": 60 },
        "CrossZone": true,
        "HealthCheck": {
          "HealthyThreshold": "2",
          "Interval": 5,
          "Target": { "Ref": "HealthCheck" },
          "Timeout": 3,
          "UnhealthyThreshold": "2"
        },
        "Listeners": [ {{ listeners . }} ],
        "LBCookieStickinessPolicy": [{ "PolicyName": "affinity" }],
        "LoadBalancerName": { "Ref": "AWS::StackName" },
        "SecurityGroups": [ { "Ref": "BalancerSecurityGroup" } ]
      }
    },
  {{ end }}
{{ end }}


{{ define "security" }}
  "ServiceRole": {
    "Type": "AWS::IAM::Role",
    "Properties": {
      "AssumeRolePolicyDocument": {
        "Statement": [
          {
            "Action": [
              "sts:AssumeRole"
            ],
            "Effect": "Allow",
            "Principal": {
              "Service": [
                "ecs.amazonaws.com"
              ]
            }
          }
        ],
        "Version": "2012-10-17"
      },
      "Path": "/",
      "Policies": [
        {
          "PolicyName": "ServiceRole",
          "PolicyDocument": {
            "Statement": [
              {
                "Effect": "Allow",
                "Action": [
                  "elasticloadbalancing:Describe*",
                  "elasticloadbalancing:DeregisterInstancesFromLoadBalancer",
                  "elasticloadbalancing:RegisterInstancesWithLoadBalancer",
                  "ec2:Describe*",
                  "ec2:AuthorizeSecurityGroupIngress"
                ],
                "Resource": [
                  "*"
                ]
              }
            ]
          }
        }
      ]
    }
  },
{{ end }}

{{ define "state" }}
  "DynamoBuilds": {
    "Type": "AWS::DynamoDB::Table",
    "Properties": {
      "TableName": { "Fn::Join": [ "-", [ { "Ref": "AWS::StackName" }, "builds" ] ] },
      "AttributeDefinitions": [
        { "AttributeName": "id", "AttributeType": "S" },
        { "AttributeName": "app", "AttributeType": "S" },
        { "AttributeName": "created", "AttributeType": "S" }
      ],
      "KeySchema": [ { "AttributeName": "id", "KeyType": "HASH" } ],
      "GlobalSecondaryIndexes": [ {
        "IndexName": "app.created",
        "KeySchema": [ { "AttributeName": "app", "KeyType": "HASH" }, { "AttributeName": "created", "KeyType": "RANGE" } ],
        "Projection": { "ProjectionType": "ALL" },
        "ProvisionedThroughput": { "ReadCapacityUnits": "5", "WriteCapacityUnits": "5" }
      }],
      "ProvisionedThroughput": { "ReadCapacityUnits": "5", "WriteCapacityUnits": "5" }
    }
  },
  "DynamoChanges": {
    "Type": "AWS::DynamoDB::Table",
    "Properties": {
      "TableName": { "Fn::Join": [ "-", [ { "Ref": "AWS::StackName" }, "changes" ] ] },
      "AttributeDefinitions": [
        { "AttributeName": "app", "AttributeType": "S" },
        { "AttributeName": "created", "AttributeType": "S" }
      ],
      "KeySchema": [ { "AttributeName": "app", "KeyType": "HASH" }, { "AttributeName": "created", "KeyType": "RANGE" } ],
      "ProvisionedThroughput": { "ReadCapacityUnits": "5", "WriteCapacityUnits": "5" }
    }
  },
  "DynamoReleases": {
    "Type": "AWS::DynamoDB::Table",
    "Properties": {
      "TableName": { "Fn::Join": [ "-", [ { "Ref": "AWS::StackName" }, "releases" ] ] },
      "AttributeDefinitions": [
        { "AttributeName": "id", "AttributeType": "S" },
        { "AttributeName": "app", "AttributeType": "S" },
        { "AttributeName": "created", "AttributeType": "S" }
      ],
      "KeySchema": [ { "AttributeName": "id", "KeyType": "HASH" } ],
      "GlobalSecondaryIndexes": [{
        "IndexName": "app.created",
        "KeySchema": [ { "AttributeName": "app", "KeyType": "HASH" }, { "AttributeName": "created", "KeyType": "RANGE" } ],
        "Projection": { "ProjectionType": "ALL" },
        "ProvisionedThroughput": { "ReadCapacityUnits": "5", "WriteCapacityUnits": "5" }
      }],
      "ProvisionedThroughput": { "ReadCapacityUnits": "5", "WriteCapacityUnits": "5" }
    }
  },
  "Settings": {
    "Type": "AWS::S3::Bucket",
    "Properties": {
      "AccessControl": "Private",
      "Tags": [
        { "Key": "system", "Value": "convox" },
        { "Key": "app", "Value": { "Ref": "AWS::StackName" } }
      ]
    }
  }
{{ end }}
