apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}
  labels:
    system: convox
    scope: resource
    rack: {{.Rack}}
    app: {{.App}}
    resource: {{.Name}}
data:
  URL: "mysql://app:{{.Password}}@resource-{{.Name}}.{{.Namespace}}.svc.cluster.local:3306/app"
---
kind: PersistentVolume
apiVersion: v1
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}
  labels:
    system: convox
    scope: resource
    rack: {{.Rack}}
    app: {{.App}}
    resource: {{.Name}}
spec:
  capacity:
    storage: 10Gi
  accessModes:
  - ReadWriteOnce
  hostPath:
    path: "/mnt/data"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}
  labels:
    system: convox
    scope: resource
    rack: {{.Rack}}
    app: {{.App}}
    resource: {{.Name}}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}
  labels:
    system: convox
    scope: resource
    rack: {{.Rack}}
    app: {{.App}}
    resource: {{.Name}}
spec:
  selector:
    matchLabels:
      system: convox
      rack: {{.Rack}}
      app: {{.App}}
      resource: {{.Name}}
  replicas: 1
  template:
    metadata:
      labels:
        system: convox
        scope: resource
        rack: {{.Rack}}
        app: {{.App}}
        type: resource
        resource: {{.Name}}
    spec:
      containers:
      - name: mysql
        image: mysql:{{ coalesce (index .Parameters "version") "5.7.23" }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_DATABASE
          value: app
        - name: MYSQL_USER
          value: app
        - name: MYSQL_PASSWORD
          value: "{{.Password}}"
        - name: MYSQL_RANDOM_ROOT_PASSWORD
          value: "yes"
        volumeMounts:
        - mountPath: /var/lib/mysql
          name: data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: resource-{{.Name}}
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}
  labels:
    system: convox
    scope: resource
    rack: {{.Rack}}
    app: {{.App}}
    resource: {{.Name}}
spec:
  type: NodePort
  ports:
  - port: 3306
  selector:
    system: convox
    scope: resource
    rack: {{.Rack}}
    app: {{.App}}
    resource: {{.Name}}
