{{ define "env" }}
	{ "Fn::Join": [ "=", [ "POSTGRES_PORT_5432_TCP_ADDR", { "Fn::GetAtt": [ "{{ upper .Name }}Database", "Endpoint.Address" ] } ] ] },
	{ "Fn::Join": [ "=", [ "POSTGRES_PORT_5432_TCP_PORT", { "Fn::GetAtt": [ "{{ upper .Name }}Database", "Endpoint.Port"		] } ] ] },
	"POSTGRES_ENV_POSTGRES_USER=app",
	"POSTGRES_ENV_POSTGRES_PASSWORD=password",
	"POSTGRES_ENV_POSTGRES_DATABASE=app",
{{ end }}

{{ define "formation" }}
	"{{ upper .Name }}SecurityGroup": {
		"Type": "AWS::EC2::SecurityGroup",
		"Properties": {
			"GroupDescription": "{{ .FormationName }}",
			"SecurityGroupIngress": [
				{ "IpProtocol": "tcp", "FromPort": "5432", "ToPort": "5432", "CidrIp": "10.0.0.0/16" }
			],
			"VpcId": { "Ref": "BaseVpc" }
		}
	},
	"{{ upper .Name }}SubnetGroup": {
		"Type": "AWS::RDS::DBSubnetGroup",
		"Properties": {
			"DBSubnetGroupDescription": "{{ .FormationName }}",
			"SubnetIds": [
				{ "Ref": "BaseSubnet0" },
				{ "Ref": "BaseSubnet1" },
				{ "Ref": "BaseSubnet2" },
				{ "Ref": "BaseSubnet3" }
			]
		}
	},
	"{{ upper .Name }}Database": {
		"Type": "AWS::RDS::DBInstance",
		"Properties": {
			"AllocatedStorage": "10",
			"DBInstanceClass": "db.t2.micro",
			"DBInstanceIdentifier": "{{ .App }}-{{ .Name }}",
			"DBName": "app",
			"DBSubnetGroupName": { "Ref": "{{ upper .Name }}SubnetGroup" },
			"Engine": "postgres",
			"MasterUsername": "app",
			"MasterUserPassword": "password",
			"Port": "5432",
			"StorageType": "gp2",
			"VPCSecurityGroups": [ { "Ref": "{{ upper .Name }}SecurityGroup" } ]
		}
	},
{{ end }}
