sudo: required

env:
  global:
    - DOCKER_VERSION=17.03.1~ce-0~ubuntu-trusty

services:
  - docker

branches:
  except:
    - "/^\\d{14}/"

language: go

go:
  - "1.10"

before_install:
  - source ./ci/correct-path.sh
  - sudo apt-get -o Dpkg::Options::="--force-confnew" install -y --allow-downgrades docker-ce=${DOCKER_VERSION}
  - docker version

script:
  - ./ci/set-client-id.sh
  - go get ./cmd/convox
  - make test
  - curl -s https://codecov.io/bash | bash
