{{ define "resource" }}
  {
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Conditions": {
      "Queue": { "Fn::Not": [ { "Fn::Equals": [ { "Ref": "Queue" }, "" ] } ] }
    },
    "Parameters": {
      "Queue": {
        "Type" : "String",
        "Default": "",
        "Description" : "SQS resource name to subscribe to this SNS topic"
      }
    },
    "Resources": {
      "Topic": {
        "Type": "AWS::SNS::Topic",
        "Properties": {
          "Subscription": [{ "Fn::If": [ "Queue",
            {
              "Endpoint": { "Fn::Sub": "arn:${AWS::Partition}:sqs:${AWS::Region}:${AWS::AccountId}:${Queue}" },
              "Protocol": "sqs"
            },
            { "Ref" : "AWS::NoValue" }
          ]}],
          "TopicName": {"Ref": "AWS::StackName"}
        }
      },
      "QueuePolicy": {
        "Condition": "Queue",
        "Type": "AWS::SQS::QueuePolicy",
        "Properties" : {
          "PolicyDocument" : {
            "Version": "2008-10-17",
            "Id": "QueuePolicy",
            "Statement": [{
              "Sid": "1",
              "Effect": "Allow",
              "Principal": {
                "AWS": "*"
              },
              "Action": [
                "SQS:*"
              ],
              "Resource": { "Fn::Sub": "arn:${AWS::Partition}:sqs:${AWS::Region}:${AWS::AccountId}:${Queue}" },
              "Condition": {
                "ArnLike": {
                  "aws:SourceArn": { "Fn::Sub": "arn:${AWS::Partition}:sns:${AWS::Region}:${AWS::AccountId}:${AWS::StackName}" }
                }
              }
            }]
          },
          "Queues": [ { "Fn::Sub": "https://sqs.${AWS::Region}.amazonaws.com/${AWS::AccountId}/${Queue}" } ]
        }
      },
      "User": {
        "Type": "AWS::IAM::User",
        "Properties": {
          "Path": "/convox/",
          "Policies": [{
            "PolicyName" : "SNSAccess",
            "PolicyDocument" : {
              "Statement": [{
                "Effect": "Allow",
                "Action": "sns:*",
                "Resource": { "Fn::Sub": "arn:${AWS::Partition}:sns:${AWS::Region}:${AWS::AccountId}:${AWS::StackName}" },
              }]
            }
          }]
        }
      },
      "AccessKey": {
        "Type": "AWS::IAM::AccessKey",
        "Properties": {
          "UserName": { "Ref": "User" }
        }
      }
    },
    "Outputs": {
      "Topic": {
        "Value": { "Ref": "Topic" }
      },
      "Name": {
        "Value": { "Fn::GetAtt": ["Topic", "TopicName"] }
      },
      "AccessKey": {
        "Value": { "Ref": "AccessKey" }
      },
      "SecretAccessKey": {
        "Value": { "Fn::GetAtt": ["AccessKey", "SecretAccessKey"] }
      }
    }
  }
{{ end }}
