{{ define "resource" }}
{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Conditions": {
    "Private": { "Fn::Equals": [ { "Ref": "Private" }, "true" ] }
  },
  "Outputs": {
    {{ range $k, $app := .Apps }}
      "{{ upper $app.Name }}Link": {
        "Value": "{{ $app.Outputs.LogGroup }}"
      },
    {{ end }}
    "Url": {
      "Value": {
        "Ref": "Url"
      }
    }
  },
  "Parameters": {
    "Format": {
      "Type": "String",
      "Description": "Syslog format string",
      "Default": {{ safe "<22>1 {DATE} {GROUP} {SERVICE} {CONTAINER} - - {MESSAGE}" }}
    },
    "Private": {
      "Type": "String",
      "Description": "Create in private subnets",
      "Default": "false",
      "AllowedValues": [ "true", "false" ]
    },
    "SubnetsPrivate": {
      "Description": "VpcConfig private subnets",
      "Type": "CommaDelimitedList"
    },
    "Url": {
      "Description": "Syslog URL, e.g. 'tcp+tls://logs1.papertrailapp.com:11235'",
      "Type": "String"
    },
    "Version": {
      "Description": "Rack release version",
      "Type": "String"
    },
    "Vpc": {
      "Type": "AWS::EC2::VPC::Id",
      "Description": "VPC"
    }
  },
  "Resources": {
    {{ range $k, $app := .Apps }}
      "{{ upper $app.Name }}Permission": {
        "Type": "AWS::Lambda::Permission",
        "Properties": {
          "Action": "lambda:InvokeFunction",
          "FunctionName": { "Ref": "Function" },
          "Principal": { "Fn::Sub": "logs.${AWS::Region}.amazonaws.com" },
          "SourceAccount": { "Ref": "AWS::AccountId" },
          "SourceArn": { "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:{{ $app.Outputs.LogGroup }}:*" }
        }
      },
      "{{ upper $app.Name }}SubscriptionFilter": {
        "Type": "AWS::Logs::SubscriptionFilter",
        "DependsOn": [ "{{ upper $app.Name }}Permission" ],
        "Properties": {
          "DestinationArn": { "Fn::GetAtt": [ "Function", "Arn" ] },
          "FilterPattern": "",
          "LogGroupName": "{{ $app.Outputs.LogGroup }}"
        }
      },
    {{ end }}
    "Function": {
      "Type": "AWS::Lambda::Function",
      "Properties": {
        "Code": {
          "S3Bucket": { "Fn::Sub": "convox-${AWS::Region}" },
          "S3Key": { "Fn::Sub": "release/${Version}/lambda/syslog.zip" }
        },
        "Description": { "Ref": "Url" },
        "Environment": {
          "Variables": {
            "SYSLOG_FORMAT": { "Ref": "Format" },
            "SYSLOG_URL": { "Ref": "Url" }
          }
        },
        "Handler": "handler",
        "Role": { "Fn::GetAtt": [ "Role", "Arn" ] },
        "Runtime": "go1.x",
        "Timeout": "25",
        "VpcConfig": { "Fn::If": [ "Private",
          { "SecurityGroupIds": [ { "Ref": "SecurityGroup" } ], "SubnetIds": { "Ref": "SubnetsPrivate" } },
          { "Ref": "AWS::NoValue" }
        ] }
      }
    },
    "Role": {
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Statement": [
            {
              "Action": [
                "sts:AssumeRole"
              ],
              "Effect": "Allow",
              "Principal": {
                "Service": [
                  "lambda.amazonaws.com"
                ]
              }
            }
          ],
          "Version": "2012-10-17"
        },
        "Path": "/convox/",
        "Policies": [
          {
            "PolicyDocument": {
              "Statement": [
                {
                  "Action": [
                    "cloudwatch:PutMetricData",
                    "lambda:InvokeFunction",
                    "ec2:CreateNetworkInterface",
                    "ec2:DescribeNetworkInterfaces",
                    "ec2:DeleteNetworkInterface"
                  ],
                  "Effect": "Allow",
                  "Resource": "*"
                },
                {
                  "Action": [
                    "logs:CreateLogGroup",
                    "logs:CreateLogStream",
                    "logs:PutLogEvents"
                  ],
                  "Effect": "Allow",
                  "Resource": { "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:*"
                },
                {
                  "Action": [
                    "cloudformation:DescribeStacks"
                  ],
                  "Effect": "Allow",
                  "Resource": { "Fn::Sub": "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/${AWS::StackName}/*" }
                }
              ],
              "Version": "2012-10-17"
            },
            "PolicyName": "LambdaCloudFormationCloudWatch"
          }
        ]
      },
      "Type": "AWS::IAM::Role"
    },
    "SecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Condition": "Private",
      "Properties": {
        "GroupDescription": { "Fn::Sub": "${AWS::StackName} security group" },
        "VpcId": { "Ref": "Vpc" }
      }
    }
  }
}
{{ end }}
