{{ define "app" }}
  {{ $app := . }}
  {
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Parameters" : {
      "Release" : {
        "Type" : "String",
        "Default" : "",
        "Description" : "Release"
      },
      "Repository" : {
        "Type" : "String",
        "Default" : "",
        "Description" : "Repository"
      }
    },
    "Resources": {
      {{ range .Subnets }}
        {{ template "subnet" . }}
      {{ end }}
      {{ range .Processes }}
        {{ template "process" . }}
      {{ end }}
      "Security": {
        "Type": "AWS::EC2::SecurityGroup",
        "Properties": {
          "GroupDescription": "production-myapp",
          "SecurityGroupIngress": [
            { "IpProtocol": "tcp", "FromPort": "5000", "ToPort": "5000", "CidrIp": "0.0.0.0/0" }
          ],
          "VpcId": "{{ .Vpc }}"
        }
      },
      "DynamoBuilds": {
        "Type": "AWS::DynamoDB::Table",
        "Properties": {
          "TableName": "{{ .Cluster }}-{{ .Name }}-builds",
          "AttributeDefinitions": [
            { "AttributeName": "id", "AttributeType": "S" },
            { "AttributeName": "app", "AttributeType": "S" },
            { "AttributeName": "created", "AttributeType": "S" }
          ],
          "KeySchema": [
            { "AttributeName": "id", "KeyType": "HASH" }
          ],
          "GlobalSecondaryIndexes": [{
            "IndexName": "app.created",
            "KeySchema": [
              { "AttributeName": "app", "KeyType": "HASH" },
              { "AttributeName": "created", "KeyType": "RANGE" }
            ],
            "Projection": {
              "ProjectionType": "ALL"
            },
            "ProvisionedThroughput": {
              "ReadCapacityUnits": "5",
              "WriteCapacityUnits": "5"
            }
          }],
          "ProvisionedThroughput": {
            "ReadCapacityUnits": "5",
            "WriteCapacityUnits": "5"
          }
        }
      },
      "DynamoProcesses": {
        "Type": "AWS::DynamoDB::Table",
        "Properties": {
          "TableName": "{{ .Cluster }}-{{ .Name }}-processes",
          "AttributeDefinitions": [
            { "AttributeName": "name", "AttributeType": "S" }
          ],
          "KeySchema": [
            { "AttributeName": "name", "KeyType": "HASH" }
          ],
          "ProvisionedThroughput": {
            "ReadCapacityUnits": "5",
            "WriteCapacityUnits": "5"
          }
        }
      },
      "DynamoReleases": {
        "Type": "AWS::DynamoDB::Table",
        "Properties": {
          "TableName": "{{ .Cluster }}-{{ .Name }}-releases",
          "AttributeDefinitions": [
            { "AttributeName": "id", "AttributeType": "S" },
            { "AttributeName": "app", "AttributeType": "S" },
            { "AttributeName": "created", "AttributeType": "S" }
          ],
          "KeySchema": [
            { "AttributeName": "id", "KeyType": "HASH" }
          ],
          "GlobalSecondaryIndexes": [{
            "IndexName": "app.created",
            "KeySchema": [
              { "AttributeName": "app", "KeyType": "HASH" },
              { "AttributeName": "created", "KeyType": "RANGE" }
            ],
            "Projection": {
              "ProjectionType": "ALL"
            },
            "ProvisionedThroughput": {
              "ReadCapacityUnits": "5",
              "WriteCapacityUnits": "5"
            }
          }],
          "ProvisionedThroughput": {
            "ReadCapacityUnits": "5",
            "WriteCapacityUnits": "5"
          }
        }
      }
    },
    "Outputs": {
      {{ range .Subnets }}
        "{{ upper .Name }}": {
          "Value": { "Ref": "{{ upper .Name }}" }
        },
      {{ end }}
      {{ range .Processes }}
        {{ if .Balancer }}
          "{{ upper .Name }}BalancerId": {
            "Value": { "Ref": "{{ upper .Name }}Balancer" }
          },
          "{{ upper .Name }}BalancerHost": {
            "Value": { "Fn::GetAtt": [ "{{ upper .Name }}Balancer", "DNSName" ] }
          },
        {{ end }}
      {{ end }}
      "Security": {
        "Value": { "Ref": "Security" }
      }
    }
  }
{{ end }}

{{ define "process" }}
  {{ if .Balancer }}
    "{{ upper .Name }}BalancerSecurity": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "GroupDescription": "{{ .Cluster }}-{{ .App }}-{{ .Name }}",
        "SecurityGroupIngress": [
          { "IpProtocol": "tcp", "FromPort": "80", "ToPort": "80", "CidrIp": "0.0.0.0/0" }
        ],
        "VpcId": "{{ .Vpc }}"
      }
    },
    "{{ upper .Name }}Balancer": {
      "Type": "AWS::ElasticLoadBalancing::LoadBalancer",
      "Properties": {
        "Subnets": [
          { "Ref": "Subnet0" },
          { "Ref": "Subnet1" },
          { "Ref": "Subnet2" },
          { "Ref": "Subnet3" }
        ],
        "ConnectionDrainingPolicy": { "Enabled": true, "Timeout": 60 },
        "ConnectionSettings": { "IdleTimeout": 60 },
        "CrossZone": true,
        "HealthCheck": {
          "HealthyThreshold": "10",
          "Interval": 5,
          "Target": "HTTP:5000/ping",
          "Timeout": 3,
          "UnhealthyThreshold": "2"
        },
        "LBCookieStickinessPolicy": [{ "PolicyName": "affinity" }],
        "LoadBalancerName": "{{ .Cluster }}-{{ .App }}-{{ .Name }}",
        "Listeners": [
          { "Protocol": "HTTP", "LoadBalancerPort": "80", "InstanceProtocol": "HTTP", "InstancePort": "5000" }
        ],
        "SecurityGroups": [ { "Ref": "{{ upper .Name }}BalancerSecurity" } ]
      }
    },
  {{ end }}
  "{{ upper .Name }}Launch": {
    "Type": "AWS::AutoScaling::LaunchConfiguration",
    "Properties": {
      "AssociatePublicIpAddress": false,
      "BlockDeviceMappings": [ 
        { "DeviceName": "/dev/sda1", "Ebs": { "VolumeSize": "10", "VolumeType": "standard" } }
      ],
      "EbsOptimized": false,
      "ImageId": "{{ .Ami }}",
      "InstanceMonitoring": true,
      "InstanceType": "t2.micro",
      "KeyName": "production",
      "SecurityGroups": [ { "Ref": "Security" } ],
      "UserData": {{ safe .UserData }}
    }
  },
  "{{ upper .Name }}Instances" : {
    "Type": "AWS::AutoScaling::AutoScalingGroup",
    "Properties" : {
      "LaunchConfigurationName" : { "Ref": "{{ upper .Name }}Launch" },
      "AvailabilityZones": [ {{ array .AvailabilityZones }} ],
      "VPCZoneIdentifier": [ 
        { "Ref": "Subnet0" },
        { "Ref": "Subnet1" },
        { "Ref": "Subnet2" },
        { "Ref": "Subnet3" }
      ],
      "Cooldown": 5,
      "DesiredCapacity": "{{ .Count }}",
      "MinSize" : "1",
      "MaxSize" : "3",
      {{ if .Balancer }}
        "LoadBalancerNames": [ { "Ref": "{{ upper .Name }}Balancer" } ],
      {{ end }}
      "HealthCheckType": "EC2",
      "HealthCheckGracePeriod": 30,
      "MetricsCollection": [ { "Granularity": "1Minute" } ]
    },
    "UpdatePolicy": {
      "AutoScalingRollingUpdate": {
        "MaxBatchSize": 1,
        "MinInstancesInService": 1
      }
    }
  },
{{ end }}

{{ define "subnet" }}
  "{{ upper .Name }}": {
    "Type": "AWS::EC2::Subnet",
    "Properties": {
      "AvailabilityZone": "{{ .AvailabilityZone }}",
      "CidrBlock": "{{ .Cidr }}",
      "VpcId": "{{ .Vpc }}"
    }
  },
  "{{ upper .Name }}Routes": {
    "Type": "AWS::EC2::SubnetRouteTableAssociation",
    "Properties": {
      "SubnetId": { "Ref": "{{ upper .Name }}" },
      "RouteTableId": "{{ .RouteTable }}"
    }
  },
{{ end }}
