{{ define "userdata" }}
  {
    "Fn::Base64": {
      "Fn::Join": [ "\n", [
        "{",
        "  \"start\": \"{{ .Process }}\",",
        "  \"env\": [",
        { 
          "Fn::Join": [ "", [
            "    \"",
            {
              "Fn::Join": [ "\",\n    \"", [
                {{ range $name, $value := .Env }}
                  "{{ $name }}={{ $value }}",
                {{ end }}
                {{ range .App.Resources }}
                  {{ safe .Env }}
                {{ end }}
                "CONVOX_CLUSTER={{ .App.Cluster }}",
                "CONVOX_APP={{ .App.Name }}"
              ] ]
            },
            "\""
          ] ]
        },
        "  ],",
        "  \"ports\": [ {{ ports .Ports }} ]",
        "}"
      ] ]
    }
  }
{{ end }}
