{{ define "title" }} Convox {{ end }}

{{ define "body" }}

  {{ $app := . }}

	<div id="alert" class="alert alert-danger  alert-dismissible" role="alert" style="display:none;">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Error:</strong><span class="message"></span>
	</div>

	<ol class="breadcrumb">
		<button id="destroy-app" class="btn btn-danger btn-xs">Destroy App</button>
		<button id="build-app" class="btn btn-success btn-xs">Build</button>
		<li><a href="/apps">Apps</a></li>
		<li class="active">{{ .Name }}</li>
	</ol>

	<div class="panel panel-default">
		<div class="panel-body">
			{{ label "Repository" .Repository }}
			{{ label "Status" .Status }}
		</div>
	</div>

	<div class="table-title">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="title">
					<th colspan="6">
						Processes
					</th>
				</tr>
				<tr>
					<th class="expand">Name</th>
					<th>Count</th>
					<th>CPU</th>
					<th>Memory</th>
					<th>Disk</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Processes }}
					<tr>
						<td class="meta-buttons">
							{{ if .Balancer }}
								<button class="btn btn-xs btn-primary glyph" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="<a href='http://{{ .BalancerUrl }}/'>{{ .BalancerUrl }}</a>">
									<span class="glyphicon glyphicon-random">
								</button>
							{{ end }}
							<a href="/apps/{{ .App }}/processes/{{ .Name }}">
								{{ .Name }}
							</a>
						</td>
						<td class="text-center">{{.Count}}</td>
						{{ $metrics := .Metrics }}
						<td>{{ meter "cpu"    $metrics.Cpu    100 }}</td>
						<td>{{ meter "memory" $metrics.Memory 100 }}</td>
						<td>{{ meter "disk"   $metrics.Disk   100 }}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>

	<div class="nav-buttons pull-right">
		<img id="spinner" src="/spinner.gif">
		<a href="#" class="btn btn-xs btn-primary" id="refresh">Refresh</a>
	</div>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="#changes" role="tab" data-source="/apps/{{ .Name }}/changes">Changes</a></li>
		<li role="presentation"><a href="#environment" role="tab" data-source="/apps/{{ .Name }}/environment">Environment</a></li>
		<li role="presentation"><a href="#logs"  role="tab" data-source="/apps/{{ .Name }}/logs">Logs</a></li>
		<li role="presentation"><a href="#builds" role="tab" data-source="/apps/{{ .Name }}/builds">Builds</a></li>
		<li role="presentation"><a href="#releases" role="tab" data-source="/apps/{{ .Name }}/releases">Releases</a></li>
		<li role="presentation"><a href="#services" role="tab" data-source="/apps/{{ .Name }}/services">Services</a></li>
		<!--li role="presentation"><a href="#resources" role="tab" data-source="/apps/{{ .Name }}/resources">Resources</a></li-->
	</ul>

	<div id="tab-content">
	</div>

	<script>
		$(window).ready(function() {
			$('#build-app').on('click', function() {
				$.ajax({ type: 'POST', url:'/apps/{{ .Name }}/build', data: { repo: '{{ .Repository }}' }}).done(function(msg) {
					change_to_tab('#builds');
				}).fail(function(msg) {
					$('#alert .message').html(msg.responseText);
					$('#alert').show();
				});
			});

			$('#destroy-app').on('click', function() {
				$.ajax({ type: 'DELETE', url:'/apps/{{ .Name }}'}).done(function(msg) {
					window.location = '/apps';
				}).fail(function(msg) {
					$('#alert .message').html(msg.responseText);
					$('#alert').show();
				});
			});

			window.setInterval(function() {
				$.ajax({ url:'/apps/{{ .Name }}/status' }).done(function(data) {
					$('#label-status .value').text(data);
				});
			}, 10000);
		});
	</script>

{{ end }}

{{ define "builds" }}
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>ID</th>
				<th class="expand">Started</th>
				<th>Release</th>
				<th>Duration</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{ range . }}
				<tr>
					<td class="statusicon">{{ statusicon .Status }}</td>
					<td class="id">{{ .Id }}</td>
					<td>{{ timeago .Started }}</td>
					<td class="id">{{ .Release }}</td>
					<td>{{ duration .Started .Ended }}</td>
					<td class="buttons">
						<button class="btn btn-xs btn-info" title="Logs" data-toggle="modal" data-target="#build-logs-{{ .Id }}">Logs</button>
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
	{{ range . }}
		<div id="build-logs-{{ .Id }}" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Build Logs: {{ .Id }}</h4>
					</div>
					<div class="modal-body">
						<pre class="modal-scroll">{{ .Logs }}</pre>
					</div>
				</div>
			</div>
		</div>
	{{ end }}
{{ end }}

{{ define "changes" }}
	<table class="table table-striped table-bordered app-changes">
		<thead>
			<tr>
				<th></th>
				<th>User</th>
				<th>Type</th>
				<th>Target</th>
				<th>Started</th>
				<th class="expand">Changes</th>
			</tr>
		</thead>
		<tbody>
			{{ range . }}
				<tr>
					<td class="statusicon">{{ statusicon .Status }}</td>
					<td>{{ .User }}</td>
					<td>{{ .Type }}</td>
					<td><span class="id">{{ .TargetId }}</span></td>
					<td>{{ timeago .Created }}</td>
					<td class="wrap expand">
						{{ if .M.Error }}
							<span class="transaction-error">{{ .M.Error }}</span>
						{{ else }}
							<ul class="transactions">
								{{ range .M.Transactions }}
									{{ partial "app" .Type . }}
								{{ end }}
							</ul>
						{{ end }}
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
	<script>
		$('.timeago').timeago();

		table_scroll($('.app-changes'), '365px');
	</script>
{{ end }}

{{ define "AMI" }}
	<li>AMI changed from {{ name .Status }} to {{ name .Name }}</li>
{{ end }}

{{ define "AWS::AutoScaling::AutoScalingGroup" }}
	<li>Roll Auto Scaling Group {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::AutoScaling::LaunchConfiguration" }}
	<li>Update Launch Configuration {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::CloudFormation::Stack" }}
	<li>Update Stack {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::EC2::VPC" }}
	<li>Update VPC {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::RDS::DBInstance" }}
	<li>Update RDS Instance {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::S3::Bucket" }}
	<li>Update S3 Bucket {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "Env::Diff" }}
	<li>Env {{ name .Name }} {{ .Status }}</li>
{{ end }}

{{ define "environment" }}
	<div id="environment-basic-content">
		<table class="table table-striped table-bordered app-environment">
			<thead>
				<tr>
					<th>Name</th>
					<th class="expand">Value</th>
					<th><button id="environment-raw" class="btn btn-inverse btn-xs">Raw</button></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td><input type="text" name="name"></td>
					<td><input type="text" name="value"></td>
					<td><button id="environment-add" data-app="{{ .App }}" class="btn btn-success btn-xs">Add</button></td>
				</tr>
			</tfoot>
			<tbody>
				{{ $root := . }}
				{{ range .Environment.SortedNames }}
					<tr>
						<td>{{ . }}</td>
						<td class="wrap expand">{{ index $root.Environment . }}</td>
						<td>
							<button data-app="{{ $root.App }}" data-name="{{ . }}" class="environment-delete btn btn-danger btn-xs">Delete</button>
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
	<div id="environment-raw-content">
		<div class="panel">
			<textarea id="environment-content" class="environment">{{ .Environment.Raw }}</textarea>
			<div class="clearfix footer">
				<button id="environment-raw-save" class="btn btn-xs btn-primary pull-right" data-app="{{ .App }}">Save</button>
				<button id="environment-raw-cancel" class="btn btn-xs btn-inverse pull-right">Cancel</button>
			</div>
		</div>
	</div>
{{ end }}

{{ define "logs" }}
	<pre id="app-logs" class="logs"><p>Connecting...</p></pre>
	<script>
		connect_log_socket($('#app-logs'), '/apps/{{ . }}/logs/stream');
	</script>
{{ end }}

{{ define "releases" }}
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>AMI</th>
				<th class="expand">Created</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{ range . }}
				<tr>
					<td class="id">{{ .Id }}</td>
					<td>{{ .Ami }}</td>
					<td>{{ timeago .Created }}</td>
					<td class="buttons">
						<button class="btn btn-xs btn-info" title="Env for {{ .Id }}" data-toggle="modal" data-target="#release-env-{{ .Id }}">Env</button>
					</td>
					<td class="buttons">
						{{ if .Active }}
							<button class="btn btn-success btn-xs promote-release release-active" data-release="{{ .Id }}">Active</button>
						{{ else }}
							<button class="btn btn-warning btn-xs promote-release" data-release="{{ .Id }}">Promote</button>
						{{ end }}
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
	{{ range . }}
		{{ template "release" . }}
	{{ end }}
	<script>
		$('.timeago').timeago();

		$('.promote-release').on('click', function() {
			$.ajax({ type: 'POST', url:window.location.pathname+'/promote', data: { release: $(this).data('release') }}).done(function(msg) {
				refresh_tab();
			}).fail(function(msg) {
				$('#alert .message').html(msg.responseText);
				$('#alert').show();
			});
		});
	</script>
{{ end }}

{{ define "release" }}
	<div id="release-env-{{ .Id }}" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Env for {{ .Id }}</h4>
				</div>
				<div class="modal-body">
					<pre>{{ .Env }}</pre>
				</div>
			</div>
		</div>
	</div>
{{ end }}

{{ define "resources" }}
	<table class="table table-striped table-bordered app-resources">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th class="expand">Status</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			{{ range . }}
				<tr>
					<td>{{ .Name }}</td>
					<td>{{ .Type }}</td>
					<td class="expand">{{ .Status }}</td>
					<td>{{ timeago .Time }}</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
	<script>
		$('.timeago').timeago();

		table_scroll($('.app-resources'), '365px');
	</script>
{{ end }}

{{ define "services" }}
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th class="expand">Type</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{ range . }}
				<tr>
					<td>{{ .Name }}</td>
					<td>{{ .Type }}</td>
					<td>
						{{ if .ManagementUrl }}
							<a class="btn btn-xs btn-primary" href="{{ .ManagementUrl }}" target="convox-aws-console">Manage</a>
						{{ end }}
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
{{ end }}
