{{ define "title" }} Convox {{ end }}

{{ define "body" }}

  {{ $app := . }}

	<div id="alert" class="alert alert-danger  alert-dismissible" role="alert" style="display:none;">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Error:</strong><span class="message"></span>
	</div>

	<ol class="breadcrumb">
		{{ if .Created }}
			<button id="destroy-app" class="btn btn-danger btn-xs trackable">Destroy App</button>
			<button id="build-app" class="btn btn-success btn-xs trackable">Build</button>
		{{ end }}
		<li><a href="/apps">Apps</a></li>
		<li class="active">{{ .Name }}</li>
	</ol>

	{{ if not .Created }}

		<div class="panel panel-default">
			<div class="panel-body">
				Please wait while your application is initialized.
			</div>
		</div>

		{{ template "debug" . }}

		<script>
			window.setInterval(function() {
				$.ajax({ url:'/apps/{{ .Name }}/status' }).done(function(status) {
					if (status !== 'creating') {
						window.location.reload();
					}
				});
			}, 2000);
		</script>

	{{ else }}

		<div class="panel panel-default">
			<div class="panel-body">
				{{ label "Status" .Status }}
				{{ label "Repository" .Repository }}
				{{ label "Host" .BalancerHost }}
				{{ if not (eq .HealthCheckEndpoint "") }}
					<div class="labelled-value">
						<span class="name">Check</span>
						<span class="value">
							<div id="healthcheck">{{ .HealthCheckEndpoint }}{{ .HealthCheckPath }}</div>
							<form id="healthcheck-edit" class="form-inline" method="post" action="/apps/{{ .Name }}" style="display:none">
								<div class="form-group">
									<select class="form-control input-sm" name="healthcheck[endpoint]">
										{{ dropdown .HealthCheckEndpoints .HealthCheckEndpoint }}
									</select>
								</div>
								<div class="form-group">
									<input class="form-control input-sm" type="text" name="healthcheck[path]" value="{{ .HealthCheckPath }}">
								</div>
								<input id="healthcheck-edit-cancel" type="button" class="btn btn-xs" value="Cancel">
								<input type="submit" class="btn btn-xs btn-primary" value="Update">
							</form>
						</span>
					</div>
				{{ end }}
			</div>
		</div>

		<div class="table-title">
			<table class="table table-striped table-bordered">
				<thead>
					<tr class="title">
						<th colspan="7">
							Processes
						</th>
					</tr>
					<tr>
						<th class="expand">Name</th>
						<th>Ports</th>
						<th>Count</th>
						<th>CPU</th>
						<th>Memory</th>
						<th>Disk</th>
					</tr>
				</thead>
				<tbody>
					{{ range .Processes }}
						<tr>
							<td class="meta-buttons">
								<a href="/apps/{{ .App }}/processes/{{ .Name }}">
									{{ .Name }}
								</a>

								{{ if .ServiceType }}
									<button class="btn btn-xs btn-primary service-link pull-right" title="Service for {{ .Name }}" data-app="{{ .App }}" data-name="{{ .Name }}" data-type="{{ .ServiceType }}" data-toggle="modal" data-target="#service-link">Link</button>
								{{ end }}
							</td>
							<td>
								{{ range $port, $url := ($app.BalancerPorts .Name) }}
									<a target="preview" href="http://{{ $url }}" class="btn btn-xs btn-primary glyph">
										{{ $port }}
									</a>
								{{ end }}
							</td>
							<td class="text-center">{{.Count}}</td>
							{{ $metrics := .Metrics }}
							<td>{{ meter "cpu"    $metrics.Cpu    100 }}</td>
							<td>{{ meter "memory" $metrics.Memory 100 }}</td>
							<td>{{ meter "disk"   $metrics.Disk   100 }}</td>
						</tr>
					{{ end }}
				</tbody>
			</table>
		</div>

		{{ if .Services }}
			<div class="table-title">
				<table class="table table-striped table-bordered">
					<thead>
						<tr class="title">
							<th colspan="1">
								Services
							</th>
						</tr>
						<tr>
							<th class="expand">Name</th>
						</tr>
					</thead>
					<tbody>
						{{ range .Services }}
							<tr>
								<td class="meta-buttons">
									<a href="/services/{{ .Name }}">
										{{ .Name }}
									</a>

									<button class="btn btn-xs btn-danger service-unlink pull-right" title="Unlink {{ .Name }}" data-app="{{ .App }}" data-name="{{ .Name }}" data-toggle="modal" data-target="#service-unlink">Unlink</button>
								</td>
							</tr>
						{{ end }}
					</tbody>
				</table>
			</div>
		{{ end }}

		<div class="nav-buttons pull-right">
			<img id="spinner" src="/spinner.gif">
			<a href="#" class="btn btn-xs btn-primary" id="refresh">Refresh</a>
		</div>

		<ul class="nav nav-tabs">
			<li role="presentation"><a href="#builds" id="builds-tab" class="trackable" role="tab" data-source="/apps/{{ .Name }}/builds">Builds</a></li>
			<li role="presentation"><a href="#environment" id="environment-tab" class="trackable" role="tab" data-source="/apps/{{ .Name }}/environment">Environment</a></li>
			<li role="presentation"><a href="#releases" id="releases-tab" class="trackable" role="tab" data-source="/apps/{{ .Name }}/releases">Releases</a></li>
			<li role="presentation"><a href="#logs" id="logs-tab" class="trackable" role="tab" data-source="/apps/{{ .Name }}/logs">Logs</a></li>
			<li role="presentation"><a href="#debug" id="debug-tab" class="trackable" role="tab" data-source="/apps/{{ .Name }}/debug">Debug</a></li>
		</ul>

		<div id="tab-content">
		</div>

		<script>
			$(window).ready(function() {
				$('#healthcheck').on('click', function() {
					$('#healthcheck').hide();
					$('#healthcheck-edit').show();
				});

				$('#healthcheck-edit-cancel').on('click', function() {
					$('#healthcheck-edit').hide();
					$('#healthcheck').show();
				});

				$('#build-app').on('click', function() {
					var button = $(this);

					button.prop('disabled', true);

					window.setTimeout(function() {
						button.prop('disabled', false);
					}, 500);

					$.ajax({ type: 'POST', url:'/apps/{{ .Name }}/build', data: { repo: '{{ .Repository }}' }}).done(function(msg) {
						change_to_tab('#builds');
					}).fail(function(msg) {
						$('#alert .message').html(msg.responseText);
						$('#alert').show();
					});
				});

				$('#destroy-app').on('click', function() {
					$.ajax({ type: 'DELETE', url:'/apps/{{ .Name }}'}).done(function(msg) {
						window.location = '/apps';
					}).fail(function(msg) {
						$('#alert .message').html(msg.responseText);
						$('#alert').show();
					});
				});

				window.setInterval(function() {
					$.ajax({ url:'/apps/{{ .Name }}/status' }).done(function(data) {
						$('#label-status .value').text(data);
					});
				}, 10000);

				$('.service-link').on('click', function() {
					var app = $(this).data("app")
					var name = $(this).data("name")
					var type = $(this).data("type")
					// var target = $(this).data("target")

					$('#service-link .modal-title').html("Link Service for " + name)

					$('#service-link form').attr("action", "/apps/" + app + "/services");
					$('#service-link-app').val(app)
					$('#service-link-name').val(name)
					$('#service-link-type').val(type)

					$('#service-link-stack').html("")

					$.ajax({ type: 'GET', url:'/services/types/' + type }).done(function(msg) {
						$('#service-link-stack').html(msg)
					}).fail(function(msg) {
						$('#alert .message').html(msg.responseText);
						$('#alert').show();
					});

					mixpanel.track('service-link-click');
				})

				$('.service-unlink').on('click', function() {
					var app = $(this).data("app")
					var name = $(this).data("name")

					$.ajax({ type: 'DELETE', url:'/apps/{{ .Name }}/services/' + name}).done(function(msg) {
						window.location = '/apps/{{ .Name }}';
					}).fail(function(msg) {
						$('#alert .message').html(msg.responseText);
						$('#alert').show();
					});

					mixpanel.track('service-unlink-click');
				})

				goto_anchor('#builds');
			});
		</script>

		{{ template "service" . }}

	{{ end }}

{{ end }}

{{ define "builds" }}
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>ID</th>
				<th class="expand">Started</th>
				<th>Release</th>
				<th>Duration</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{ range .Builds }}
				<tr>
					<td class="statusicon">{{ statusicon .Status }}</td>
					<td class="id">{{ .Id }}</td>
					<td>{{ timeago .Started }}</td>
					<td class="id">{{ .Release }}</td>
					<td>{{ duration .Started .Ended }}</td>
					<td class="buttons">
						<button class="btn btn-xs btn-info build-logs" title="Build Logs" data-toggle="modal" data-target="#build-logs-{{ .Id }}">Build Logs</button>
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
	{{ range .Builds }}
		<div id="build-logs-{{ .Id }}" class="modal fade build-logs-modal" data-build="{{ .Id }}">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Build Logs: {{ .Id }}</h4>
					</div>
					<div class="modal-body">
						<pre class="modal-scroll"></pre>
					</div>
				</div>
			</div>
		</div>
	{{ end }}
	<script>
		$(window).ready(function() {
			var ticker = null;
			$('.build-logs-modal').on('show.bs.modal', function (e) {
				var modal = $(this);
				var build_id = modal.data('build');
				ticker = window.setInterval(function() {
					$.ajax({ url:'/apps/{{ .App.Name }}/builds/'+build_id+'/logs' }).done(function(data) {
						modal.find('pre').text(data);
					});
				}, 100);
			});
			$('.build-logs-modal').on('hide.bs.modal', function(e) {
				window.clearInterval(ticker);
			});
		});
	</script>	
{{ end }}

{{ define "changes" }}
	<table class="table table-striped table-bordered app-changes">
		<thead>
			<tr>
				<th></th>
				<th>User</th>
				<th>Type</th>
				<th>Target</th>
				<th>Started</th>
				<th class="expand">Changes</th>
			</tr>
		</thead>
		<tbody>
			{{ range . }}
				<tr>
					<td class="statusicon">{{ statusicon .Status }}</td>
					<td>{{ .User }}</td>
					<td>{{ .Type }}</td>
					<td><span class="id">{{ .TargetId }}</span></td>
					<td>{{ timeago .Created }}</td>
					<td class="wrap expand">
						{{ if .M.Error }}
							<span class="transaction-error">{{ .M.Error }}</span>
						{{ else }}
							<ul class="transactions">
								{{ range .M.Transactions }}
									{{ partial "app" .Type . }}
								{{ end }}
							</ul>
						{{ end }}
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
	<script>
		$('.timeago').timeago();

		table_scroll($('.app-changes'), '365px');
	</script>
{{ end }}

{{ define "AMI" }}
	<li>AMI changed from {{ name .Status }} to {{ name .Name }}</li>
{{ end }}

{{ define "AWS::AutoScaling::AutoScalingGroup" }}
	<li>Roll Auto Scaling Group {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::AutoScaling::LaunchConfiguration" }}
	<li>Update Launch Configuration {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::CloudFormation::Stack" }}
	<li>Update Stack {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::EC2::SecurityGroup" }}
	<li>Update Security Group {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::EC2::VPC" }}
	<li>Update VPC {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::ElasticLoadBalancing::LoadBalancer" }}
	<li>Update Load Balancer {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::IAM::InstanceProfile" }}
	<li>Update Instance Profile {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::IAM::Role" }}
	<li>Update IAM Role {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::Kinesis::Stream" }}
	<li>Update Kinesis Stream {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::RDS::DBInstance" }}
	<li>Update RDS Instance {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "AWS::S3::Bucket" }}
	<li>Update S3 Bucket {{ name .Name }} {{ duration .Start .End }}</li>
{{ end }}

{{ define "Env::Diff" }}
	<li>Env {{ name .Name }} {{ .Status }}</li>
{{ end }}

{{ define "environment" }}
	<div id="environment-basic-content">
		<table class="table table-striped table-bordered app-environment">
			<thead>
				<tr>
					<th>Name</th>
					<th class="expand">Value</th>
					<th><button id="environment-raw" class="btn btn-inverse btn-xs trackable">Raw</button></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td><input type="text" name="name"></td>
					<td><input type="text" name="value"></td>
					<td><button id="environment-add" data-cluster="{{ .Cluster }}" data-app="{{ .App }}" class="btn btn-success btn-xs trackable">Add</button></td>
				</tr>
			</tfoot>
			<tbody>
				{{ $root := . }}
				{{ range .Environment.SortedNames }}
					<tr>
						<td>{{ . }}</td>
						<td class="wrap expand">{{ truncate (index $root.Environment .) 70 }}</td>
						<td>
							<button data-cluster="{{ $root.Cluster }}" data-app="{{ $root.App }}" data-name="{{ . }}" id="environment-delete" class="environment-delete btn btn-danger btn-xs trackable">Delete</button>
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
	<div id="environment-raw-content">
		<div class="panel">
			<textarea id="environment-content" class="environment">{{ .Environment.Raw }}</textarea>
			<div class="clearfix footer">
				<button id="environment-raw-save" class="btn btn-xs btn-primary pull-right trackable" data-cluster="{{ .Cluster }}" data-app="{{ .App }}">Save</button>
				<button id="environment-raw-cancel" class="btn btn-xs btn-inverse pull-right trackable">Cancel</button>
			</div>
		</div>
	</div>
{{ end }}

{{ define "debug" }}
	<pre id="app-debug" class="logs"></pre>
	<script>
		window.setInterval(function() {
			$.ajax({ url:'/apps/{{ .Name }}/events' }).done(function(data) {
				$('#app-debug').text(data);
			});
		}, 2000);
	</script>
{{ end }}

{{ define "logs" }}
	<pre id="app-logs" class="logs logs-indent"><p>Connecting...</p></pre>
	<script>
		connect_log_socket($('#app-logs'), '/apps/{{ . }}/logs/stream');
	</script>
{{ end }}

{{ define "releases" }}
	{{ $active := .App.ActiveRelease }}
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th class="expand">Created</th>
				<th>Build</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{ range .Releases }}
				<tr>
					<td class="id">{{ .Id }}</td>
					<td>{{ timeago .Created }}</td>
					<td class="id">{{ .Build }}</td>
					<td class="buttons">
						<button class="btn btn-xs btn-info" title="Env for {{ .Id }}" data-toggle="modal" data-target="#release-env-{{ .Id }}">Env</button>
					</td>
					<td class="buttons">
						{{ if eq .Id $active }}
							<button class="btn btn-success btn-xs promote-release release-active" data-release="{{ .Id }}">Active</button>
						{{ else }}
							<button class="btn btn-warning btn-xs promote-release trackable" id="promote-release" data-release="{{ .Id }}">Promote</button>
						{{ end }}
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
	{{ range .Releases }}
		{{ template "release" . }}
	{{ end }}
	<script>
		$('.timeago').timeago();

		$('.promote-release').on('click', function() {
			$(this).prop('disabled', true);
			$('#spinner').show();
			$.ajax({ type: 'POST', url:window.location.pathname+'/promote', data: { release: $(this).data('release') }}).done(function(msg) {
				$('#alert').hide();
				$('#spinner').hide();
				refresh_tab();
			}).fail(function(msg) {
				$('#alert .message').html(msg.responseText);
				$('#alert').show();
				$('#spinner').hide();
				refresh_tab();
			});
		});
	</script>
{{ end }}

{{ define "release" }}
	<div id="release-env-{{ .Id }}" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Env for {{ .Id }}</h4>
				</div>
				<div class="modal-body">
					<pre>{{ .Env }}</pre>
				</div>
			</div>
		</div>
	</div>
{{ end }}

{{ define "resources" }}
	<table class="table table-striped table-bordered app-resources">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th class="expand">Status</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			{{ range . }}
				<tr>
					<td>{{ .Name }}</td>
					<td>{{ .Type }}</td>
					<td class="expand">{{ .Status }}</td>
					<td>{{ timeago .Time }}</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
	<script>
		$('.timeago').timeago();

		table_scroll($('.app-resources'), '365px');

								mixpanel.track('page-viewed', {
												'page name' : 'app',
												'url' : window.location.pathname
								});

		$('button.build-logs').click(function() {
			mixpanel.track('build-logs-click');
		});
	</script>
{{ end }}

{{ define "service" }}
	<div class="modal fade" id="service-link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="#" class="form-horizontal">
					<input name="app"  type="hidden" class="form-control" id="service-link-app">
					<input name="name" type="hidden" class="form-control" id="service-link-name">
					<input name="type" type="hidden" class="form-control" id="service-link-type">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Link Service</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="stack" class="col-sm-3 control-label">Service Stack</label>
							<div class="col-sm-8">
								<select name="stack" class="form-control" id="service-link-stack">
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<input type="submit" class="btn btn-primary" value="Link Service">
					</div>
				</form>
			</div>
		</div>
	</div>
{{ end }}
