{{ define "title" }} Convox {{ end }}

{{ define "body" }}
	{{ if not .Apps}}
		<div class="jumbotron">
		  <h1>Welcome to Convox</h1>
		  <h4>Open Source Infrastructure Management</h4>
		  <p>Convox is ready for you to create, build and deploy your first application. You should <a href="http://docs.convox.io/v0.1/docs/deploying-an-app">read the docs</a> and:</p>
			<p><button class="btn btn-success btn-lg trackable" id="create-app" data-toggle="modal" data-target="#app-create">Create First App</button></p>
		</div>
	{{ else }}
		<ol class="breadcrumb">
			<button class="btn btn-success btn-xs trackable" id="create-app" data-toggle="modal" data-target="#app-create">Create App</button>
			<li class="active">Apps</li>
		</ol>

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="expand">Name</th>
					<th>Status</th>
					<th>CPU</th>
					<th>RAM</th>
					<th>Disk</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Apps }}
					<tr>
						<td><a href="/apps/{{ .Name }}">{{ .Name }}</a></td>
						<td>{{ .Status }}</td>
						<td>{{ meter "cpu"    0 100 }}</td>
						<td>{{ meter "memory" 0 100 }}</td>
						<td>{{ meter "disk"   0 100 }}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	{{ end }}

	<div class="modal fade" id="app-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="/apps" class="form-horizontal">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Create App</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="app-repo" class="col-sm-3 control-label">Git Repository</label>
							<div class="col-sm-8">
								<input name="repo" type="text" class="form-control" id="app-repo" value="https://github.com/convox-examples/sinatra.git">
							</div>
						</div>
						<div class="form-group">
							<label for="app-name" class="col-sm-3 control-label">App Name</label>
							<div class="col-sm-8">
								<input name="name" type="text" class="form-control" id="app-name" value="sinatra">
								<span class="help-block"></span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<input type="submit" class="btn btn-primary" value="Create App">
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>
		mixpanel.track('page-viewed', {
			'page name' : 'apps',
			'url' : window.location.pathname
		});

		$(window).ready(function() {
			$('#app-create').on('shown.bs.modal', function() {
				$('#app-repo').focus();

				$('#app-repo').on('blur', function() {
					var parts = $('#app-repo').val().split('/');
					var last = parts[parts.length-1].split('.');
					var name = last[0];

					$('#app-name').val(name);
					$('#app-name').select();
				});
			});

			$('#app-create form').submit(function(e) {
				e.preventDefault();

				var app_name = $('#app-name').val();
				var form_group = $('#app-name').parents('.form-group');
				var help_block = form_group.find('span.help-block');

				form_group.removeClass('has-error');
				help_block.html('');

				// Validate format of app name
				var valid = (app_name.match(/([A-Z]|[a-z]|-)/g).length == app_name.length);
				if (!valid) {
					form_group.addClass('has-error');
					help_block.html('Only alphanumeric characters and dashes allowed in app names.');
					return;
				}

				// Check for duplicate app name
				$.ajax({ url:'/apps/'+ app_name + '/available' }).done(function(available) {
					if (available == 'true') {
						$('#app-create form').unbind('submit').submit();
					} else {
						form_group.addClass('has-error');
						help_block.html('The name <strong>' + app_name + '</strong> is already taken. Please choose another app name.');
					}
				});
			});
		});
	</script>
{{ end }}
