{{ define "layout" }}
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="accountid" content="{{ env "AWS_ACCOUNTID" }}">
			<title>{{ template "title" . }}</title>
			<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
			<link rel="stylesheet" href="/convox.css"/>
			<link rel="shortcut" type="image/x-icon" href="/favicon.ico"/>
			<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
				<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
			<style>
				body { padding-top: 70px; }
			</style>
			<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("43fb68427548c5e99978a598a9b14e55");</script><!-- end Mixpanel -->
		</head>
		<body>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="/bootstrap/js/bootstrap.min.js"></script>
			<script src="/timeago.js"></script>
			<script src="/convox.js"></script>
			{{ template "navbar" . }}
			<div class="container">
				{{ template "body" . }}
			</div>
		</body>
	</html>
{{ end }}

{{ define "navbar" }}
	<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img alt="convox.io" src="/logo.convox.png"/>
				</a>
			</div>
			<p class="navbar-text pull-right">{{ release }} • <a href="https://convox.wufoo.com/forms/z11bvhaa1s0nplg/">Send Feedback</a></p>
			<div class="collapse navbar-collapse" id="navbar-links">
				<ul class="nav navbar-nav">
					<li><a href="/apps"><span class="glyphicon glyphicon-th-list"></span>Apps</a></li>
					<li><a href="/services"><span class="glyphicon glyphicon-plus-sign"></span>Services</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<script>
		$(window).ready(function() {
			var root = '/' + window.location.pathname.split('/')[1];
			$('.nav a[href="' + root + '"]').parent('li').addClass('active');

			$('[data-toggle="tooltip"]').tooltip()
			$('[data-toggle="popover"]').popover({html:true})

			$('.timeago').timeago()

			// Track clicks in mixpanel
			mixpanel.identify($('meta[name=accountid]').attr('content'));
			$('.trackable').click(function() {
				mixpanel.track($(this).attr('id') + '-click');
			});
		});
	</script>
{{ end }}
