version: 2
jobs:
  build:
    parallelism: 3
    docker:
      - image: circleci/golang:1.11
    steps:
      - checkout
      - run: ci/dependencies.sh
      - run: ci/install.sh
      - run:
          command: ci/test.sh
          no_output_timeout: 20m
      - run: ci/report.sh
      - run: ci/uninstall.sh
      - run: ci/cleanup.sh
      - store_artifacts:
          path: /tmp/artifacts
