apiVersion: v1
kind: Namespace
metadata:
  name: {{.Rack}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{.Rack}}
  name: env-api
data:
  DNS: "{{.DNS}}"
  PROVIDER: local
---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: convox-system
  name: env-router
data:
  AUTOCERT: "false"
