apiVersion: v1
kind: Service
metadata:
  namespace: convox-system
  name: router
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  - name: https
    port: 443
    targetPort: 443
    protocol: TCP
  selector:
    system: convox
    service: router
---
apiVersion: v1
kind: Service
metadata:
  namespace: convox-system
  name: resolver
spec:
  type: LoadBalancer
  ports:
  - name: dns
    port: {{.DnsPort}}
    targetPort: 5453
    protocol: UDP
  selector:
    system: convox
    service: router
---
apiVersion: v1
kind: Service
metadata:
  namespace: convox-system
  name: resolver-internal
spec:
  type: NodePort
  ports:
  - name: dns
    port: 53
    targetPort: 5453
    protocol: UDP
  selector:
    system: convox
    service: router
