apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}
  labels:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    type: resource
    resource: {{.Name}}
---
apiVersion: "convox.com/v1"
kind: Stack
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}
  finalizers:
    - stack.kaws.convox
  labels:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    type: resource
    resource: memcached
    name: {{.Name}}
spec:
  parameters:
  {{ range $k, $v := .Parameters }}
    {{ upper $k }}: {{ safe $v }}
  {{ end }}
  template: |
    AWSTemplateFormatVersion: "2010-09-09"
    Parameters:
      Class:
        Type: String
        Default: cache.t2.micro
      Nodes:
        Type: Number
        Default: "1"
      Version:
        Type: String
        Default: "1.5"
    Outputs:
      Url:
        Value: !Sub "memcached://${CacheCluster.ConfigurationEndpoint.Address}:${CacheCluster.ConfigurationEndpoint.Port}"
    Resources:
      SecurityGroup:
        Type: AWS::EC2::SecurityGroup
        Properties:
          GroupDescription: !Ref AWS::StackName
          SecurityGroupIngress:
            - IpProtocol: tcp
              FromPort: "11211"
              ToPort: "11211"
              CidrIp: !ImportValue "{{.Rack}}:VpcCidr"
          VpcId: !ImportValue "{{.Rack}}:Vpc"
          Tags:
            - Key: Name
              Value: !Ref AWS::StackName
      SubnetGroup:
        Type: AWS::ElastiCache::SubnetGroup
        Properties:
          Description: !Ref AWS::StackName
          SubnetIds:
            - !ImportValue "{{.Rack}}:VpcPrivateSubnet0"
            - !ImportValue "{{.Rack}}:VpcPrivateSubnet1"
      CacheCluster:
        Type: AWS::ElastiCache::CacheCluster
        Properties:
          AutoMinorVersionUpgrade: true
          CacheNodeType: !Ref Class
          CacheSubnetGroupName: !Ref SubnetGroup
          Engine: memcached
          EngineVersion: !Ref Version
          NumCacheNodes: !Ref Nodes
          Port: "11211"
          VpcSecurityGroupIds: [ !Ref SecurityGroup ]
