apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}
  labels:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    type: resource
    resource: {{.Name}}
---
apiVersion: "convox.com/v1"
kind: Stack
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}
  finalizers:
    - stack.kaws.convox
  labels:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    type: resource
    resource: postgres
    name: {{.Name}}
spec:
  parameters:
  {{ range $k, $v := .Parameters }}
    {{ upper $k }}: {{ safe $v }}
  {{ end }}
  template: |
    AWSTemplateFormatVersion: "2010-09-09"
    Parameters:
      Rack:
        Type: String
        Default: convox
    Outputs:
      Foo:
        Value: !Ref Rack
    Resources:
      AssessmentTarget:
        Type: AWS::Inspector::AssessmentTarget
        Properties:
          AssessmentTargetName: !Ref Rack
          ResourceGroupArn: !GetAtt ResourceGroup.Arn
      ResourceGroup:
        Type: AWS::Inspector::ResourceGroup
        Properties:
          ResourceGroupTags:
          - Key: rack
            Value: !Ref Rack
