apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: builds.convox.com
  labels:
    scope: k8s
    system: convox
    type: custom
spec:
  group: convox.com
  versions:
    - name: v1
      served: true
      storage: true
  version: v1
  scope: Namespaced
  names:
    plural: builds
    singular: build
    kind: Build
    categories:
    - convox
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: releases.convox.com
  labels:
    scope: k8s
    system: convox
    type: custom
spec:
  group: convox.com
  versions:
    - name: v1
      served: true
      storage: true
  version: v1
  scope: Namespaced
  names:
    plural: releases
    singular: release
    kind: Release
    categories:
    - convox
