{{ if .Services }}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: {{.Namespace}}
  name: {{.App.Name}}
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    convox.idles: "{{.Idles}}"
    {{ range .Services }}
    convox.ingress.service.{{.Name}}.{{.Port.Port}}.protocol: {{.Port.Scheme}}
    {{ end }}
  labels:
    release: {{.Release.Id}}
spec:
  tls:
  - hosts:
    {{ range .Services }}
    {{ range (domains $.App.Name .) }}
    - {{ safe . }}
    {{ end }}
    {{ end }}
  rules:
    {{ range $s := .Services }}
    {{ range (domains $.App.Name .) }}
    - host: {{ safe . }}
      http:
        paths:
        - backend:
            serviceName: {{$s.Name}}
            servicePort: 3000
    {{ end }}
    {{ end }}
{{ end }}
