{{ if .Services }}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: {{.Namespace}}
  name: {{.App.Name}}
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    {{ range .Services }}
    convox.ingress.service.{{.Name}}.{{.Port.Port}}.protocol: {{.Port.Scheme}}
    {{ end }}
  labels:
    system: convox
    scope: app
    rack: {{.Rack}}
    app: {{.App.Name}}
    release: {{.Release.Id}}
spec:
  tls:
  - hosts:
    {{ range .Services }}
    - {{ host $.App.Name .Name }}
    {{ end }}
  rules:
    {{ range .Services }}
    - host: {{ host $.App.Name .Name }}
      http:
        paths:
        - backend:
            serviceName: {{.Name}}
            servicePort: {{.Port.Port}}
    {{ end }}
{{ end }}
