{{ range .Volumes }}
---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ volumeName $.App.Name . }}
  labels:
    system: convox
    rack: {{$.Rack}}
    app: {{$.App.Name}}
    volume: {{ volumeName $.App.Name . }}
spec:
  storageClassName: convox
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 10Gi
  hostPath:
    path: "{{.}}"
  persistentVolumeReclaimPolicy: Delete
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: {{$.Namespace}}
  name: {{ volumeName $.App.Name . }}
  labels:
    system: convox
    rack: {{$.Rack}}
    app: {{$.App.Name}}
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  selector:
    matchLabels:
      system: convox
      rack: {{$.Rack}}
      app: {{$.App.Name}}
      volume: {{ volumeName $.App.Name . }}
  storageClassName: convox
{{ end }}