form {
	margin: 0
}

.navbar-brand {
	padding-right: 40px;
}

.navbar-brand img {
	float: left;
	margin-right: 7px;
	margin-top: 0px;
	height: 20px;
	width: 20px;
}

.panel {
	margin-bottom: 10px;
}

.panel-heading {
	background-color: #bbb !important;
}

.panel-title {
	color: #555;
	font-size: 1.2em;
	font-weight: bold !important;
}

.table {
	border-radius: 4px !important;
	border-collapse: collapse;
	margin-bottom: 10px;
}

.table th, .table td {
	padding: 7px 12px !important;
}

.table th {
	background-color: #ddd;
	color: #555;
	font-weight: 0.9em;
}

.table td .btn {
	margin-right: 0px;
}

.table td:not(.wrap) {
	white-space: nowrap;
}

.table th.expand,
.table td.expand {
	width: 100%;
}

.table th .btn {
	font-weight: normal;
}

.table tr.title th {
	background-color: #bbb;
	font-size: 1.2em;
	padding-right: 8px !important;
}

.panel-heading button,
.panel-heading form {
	float: right;
	margin-top: -2px;
	margin-right: -7px;
	margin-left: 14px;
}

.table tr.title button,
.table tr.title a {
	float: right;
	margin-top: 1px;
}

.table tr.title form {
	float: right;
	margin-top: -2px;
}

.meter {
	background-color: #d6d6d6;
	border: 1px #999 solid;
	box-shadow: 0px 1px 1px 0px #999 inset;
	height: 15px;
	margin-top: 2px;
	width: 100px;
}

@media(max-width:480px) {
	.meter {
		width: 50px;
	}
}

.meter span {
	display: block;
	height: 14px;
}

.meter.cpu span {
	background-color: #6ebd64;
	border-top: 1px #7ecd74 solid;
	border-bottom: 1px #4e9d44 solid;
	border-right: 1px #4e9d44 solid;
}

.meter.memory span {
	background-color: #8cbeed;
	border-top: 1px #9ccefd solid;
	border-bottom: 1px #6c9ecd solid;
	border-right: 1px #6c9ecd solid;
}

.meter.disk span {
	background-color: #9954b0;
	border-top: 1px #a964c0 solid;
	border-bottom: 1px #793490 solid;
	border-right: 1px #793490 solid;
}

.table-title h1 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	margin-left: 4px;
	padding: 0;
	padding-top: 4px;
}

.breadcrumb {
	border: 1px #ddd solid;
	margin-top: 4px;
	margin-bottom: 10px;
}

.breadcrumb li {
	font-weight: bold;
}

.breadcrumb li.active {
	color: #666;
}

.command-line {
	font-family: monospace;
	font-size: 0.9em;
	text-overflow: ellipsis;
	margin-top: 2px;
}

.modal-header {
	background-color: #ccc;
	border-radius: 6px 6px 0px 0px;
}

.modal-header h4 {
	font-weight: bold;
}

td.buttons {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.id {
	font-family: monospace;
}

.release-active {
	font-size: 0.9em;
	padding-left: 10px;
	padding-right: 11px;
	padding-bottom: 3px;
}

.labelled-value {
	padding: 4px 8px;
}

.labelled-value .name {
	font-weight: bold;
	display: inline-block;
	width: 90px;
}

.labelled-value#repository .value {
	font-family: monospace;
}

.popover {
	max-width: 700px;
}

button .glyphicon {
	font-size: 0.85em;
}

button .glyph {
	padding: 2px;
	line-height: 1.0;
}

td.meta-buttons {
	padding-right: 8px !important;
}

td.meta-buttons .glyph {
	float: right;
}

pre.modal-scroll {
	height: 400px;
	overflow-y: auto;
	overflow: scroll;
}

.nav li .glyphicon {
	padding-top: 2px;
	margin-right: 7px;
}

.powered-by {
	margin-right: 180px;
	margin-top: 11px;
}

.powered-by img {
	height: 30px;
	margin-right: 8px;
	vertical-align: middle;
}

.powered-by .location {
	color: #9d9d9d;
	display: inline-block;
}

.release-active {
	font-weight: bold;
	padding: 1px 9px 1px 10px;
}

pre#app-logs, pre#process-logs {
	height: 400px;
	width: 1138px;
	border: 1px #ddd solid;
	background-color: #f3f3f3;
	font-size: 0.8em;
	background-color: #333;
	color: #eee;
}

ul.nav-tabs {
	margin-top: 16px;
}

ul.nav-tabs a {
	font-weight: bold;
	font-size: 1.2em;
	padding: 8px 20px;
}

.tab-content {
	margin-top: 10px;
}

table.scrollable {
	border: 0px;
}

table.scrollable > thead {
	display: block;
}

.scrollable-wrapper table {
	border-left: 0px;
}

.scrollable-wrapper tbody {
	display: block;
	overflow-y: scroll;
	width: 1140px;
}

table.app-history td {
	font-size: 0.9em;
}

#tab-content {
	margin-top: 12px;
}

.nav-buttons {
	margin-top: 16px;
}

img#spinner {
	margin-right: 4px;
	display: none;
}

.nav > li > a:focus {
	background-color: #fff !important;
	border-bottom: 1px #ddd solid;
}
