body {
	background-color: #aaa;
}

form {
	margin: 0
}

.navbar-brand {
	padding-right: 40px;
}

.navbar-brand img {
	float: left;
	margin-right: -10px;
	margin-top: 0px;
	height: 22px;
}

.table {
	border-radius: 4px !important;
	border-collapse: collapse;
	margin-bottom: 16px;
	overflow: hidden;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	padding: 8px 10px;
}

.table th:focus {
	outline: 0;
}

.table th {
	background-color: #ddd;
	color: #555;
	font-weight: 0.9em;
}

.table-striped>tbody>tr:nth-child(even) {
	background-color: #fff;
}

.table td .btn {
	margin-right: 0px;
}

.table td:not(.wrap) {
	white-space: nowrap;
}

.table th.expand,
.table td.expand {
	width: 100%;
}

.table th .btn {
	font-weight: normal;
}

.table tr.title th {
  background-color: #555;
	border: 1px #555 solid;
	color: #fff;
	font-weight: normal;
	font-size: 1.1em;
	letter-spacing: 0.06em;
	padding-left: 12px;
}

.panel {
	margin-bottom: 16px;
	border: 0;
	background-color: #f7f7f7;
}

.panel-default > .panel-heading {
	background-color: #555;
	padding-left: 12px;
	letter-spacing: 0.06em;
}

.panel-title {
	color: #fff;
	font-weight: normal;
	font-size: 1.1em;
	font-size: 1.2em;
}

.panel-heading button,
.panel-heading form {
	float: right;
	margin-top: -2px;
	margin-right: -7px;
	margin-left: 14px;
}

.table tr.title button,
.table tr.title a {
	float: right;
	margin-top: 1px;
}

.table tr.title form {
	float: right;
	margin-top: -2px;
}

.meter {
	background-color: #d6d6d6;
	border: 1px #999 solid;
	box-shadow: 0px 1px 1px 0px #999 inset;
	height: 15px;
	margin-top: 2px;
	width: 100px;
}

@media(max-width:480px) {
	.meter {
		width: 50px;
	}
}

.meter span {
	display: block;
	height: 14px;
}

.meter.cpu span {
	background-color: #6ebd64;
	border-top: 1px #7ecd74 solid;
	border-bottom: 1px #4e9d44 solid;
	border-right: 1px #4e9d44 solid;
}

.meter.memory span {
	background-color: #8cbeed;
	border-top: 1px #9ccefd solid;
	border-bottom: 1px #6c9ecd solid;
	border-right: 1px #6c9ecd solid;
}

.meter.disk span {
	background-color: #9954b0;
	border-top: 1px #a964c0 solid;
	border-bottom: 1px #793490 solid;
	border-right: 1px #793490 solid;
}

.table-title h1 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	margin-left: 4px;
	padding: 0;
	padding-top: 4px;
}

.breadcrumb {
	margin-top: 4px;
	margin-bottom: 16px;
	font-size: 1.2em;
	padding-right: 8px;
	background-color: #555;
	color: #eee;
	letter-spacing: 0.06em;
}

.breadcrumb button {
	float: right;
	margin-left: 8px;
}

.breadcrumb li {
}

.breadcrumb li a {
	color: #BDC8D1;
}

.breadcrumb li.active {
	color: #eee;
}

.breadcrumb>li+li:before {
	color: #999;
	padding: 0px 4px;
}

.command-line {
	font-family: monospace;
	font-size: 0.9em;
	text-overflow: ellipsis;
	margin-top: 2px;
}

.modal-header {
	background-color: #ccc;
	border-radius: 6px 6px 0px 0px;
}

.modal-header h4 {
	font-weight: bold;
}

td.buttons {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.id {
	font-family: monospace;
}

.release-active {
	font-size: 0.9em;
	padding-left: 10px;
	padding-right: 11px;
	padding-bottom: 3px;
}

.labelled-value {
	padding: 4px 8px;
}

.labelled-value .name {
	font-weight: bold;
	display: inline-block;
	width: 90px;
}

.labelled-value#repository .value {
	font-family: monospace;
}

.popover {
	max-width: 700px;
}

button .glyphicon {
	font-size: 0.85em;
}

button .glyph {
	padding: 2px;
	line-height: 1.0;
}

td.meta-buttons {
	padding-right: 8px !important;
}

td.meta-buttons .glyph {
	float: right;
}

pre.modal-scroll {
	height: 400px;
	overflow-y: auto;
	overflow: scroll;
}

.nav li .glyphicon {
	padding-top: 2px;
	margin-right: 7px;
}

.powered-by {
	margin-right: 180px;
	margin-top: 11px;
}

.powered-by img {
	height: 30px;
	margin-right: 8px;
	vertical-align: middle;
}

.powered-by .location {
	color: #9d9d9d;
	display: inline-block;
}

.release-active {
	font-weight: bold;
	padding: 1px 9px 1px 10px;
}

pre.logs {
	height: 400px;
	width: 1138px;
	margin-top: 1px;
	background-color: #f3f3f3;
	font-size: 0.8em;
	background-color: #555;
	color: #eee;
	border: 8px #555 solid;
	padding: 0px;
	padding-right: 8px;
	border-bottom: 6px #555 solid;
	padding-left: 12px;
}

pre.logs p {
	text-indent: -10px;
	margin-bottom: 2px;
}

ul.nav-tabs {
	margin-left: 10px;
	margin-top: 16px;
	border-bottom: 0px;
}

ul.nav-tabs li a {
	font-size: 1.1em;
	padding: 8px 20px;
	color: #444;
	letter-spacing: 0.06em;
}

ul.nav-tabs li a:focus {
	background-color: #555 !important;
	color: #fff !important;
	border: 1px #555 solid !important;
	outline: 0;
}

ul.nav-tabs li a:hover {
	border: 1px #888 solid;
	background-color: #888;
	color: #fff;
}

ul.nav-tabs li.active a {
	background-color: #555;
	color: #fff;
	border: 1px #555 solid;
}

ul.nav-tabs li.active a:hover {
	background-color: #555;
	color: #fff;
	border: 1px #555 solid;
}

#tab-content {
	margin-top: 0px;
}

table.scrollable {
}

table.scrollable > thead {
	display: block;
}

.scrollable-wrapper table.table {
	border-left: 0px;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.scrollable-wrapper tbody {
	display: block;
	overflow-y: scroll;
	width: 1140px;
}

table.app-history td {
	font-size: 0.9em;
}

.nav-buttons {
	margin-top: 6px;
	margin-right: 4px;
}

img#spinner {
	margin-right: 4px;
	display: none;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: #ccc;
}

::-webkit-scrollbar-thumb {
	background-color: #666;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #777;
}

pre.logs::-webkit-scrollbar-track {
	background-color: #666;
}

pre.logs::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

pre.logs::-webkit-scrollbar-thumb:hover,
pre.logs::-webkit-scrollbar-thumb:hover {
	background-color: #ddd;
}

td.statusicon {
	padding: 10px 10px 6px 14px !important;
}

span.statusicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.statusicon-complete:before {
	content: "\e013";
	color: green;
}

.statusicon-failed:before {
	content: "\e014";
	color: red;
}

.statusicon-building:before {
	content: url('/spinner-transparent.gif');
}

.statusicon-changing:before {
	content: url('/spinner-transparent.gif');
}

ul.transactions {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	color: #666;
}

ul.transactions li {
	padding: 4px;
}

ul.transactions li .name {
	font-weight: bold;
	font-family: monospace;
	font-size: 1.1em;
	color: #000;
}

ul.transactions li .duration {
	float: right;
}

.transaction-error {
	/* background-image: -webkit-linear-gradient(top, #f0dede 0%, #e7c3c3 100%);*/
	/* background-image:      -o-linear-gradient(top, #f0dede 0%, #e7c3c3 100%);*/
	/* background-image: -webkit-gradient(linear, left top, left bottom, from(#f0dede), to(#e7c3c3));*/
	/* background-image:         linear-gradient(to bottom, #f0dede 0%, #e7c3c3 100%);*/
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0dede', endColorstr='#ffe7c3c3', GradientType=0);*/
	/* background-repeat: repeat-x;*/
	/* border-color: #dca7a7;*/
	padding: 4px;
	color: #900;
	font-size: 0.8em;
	display: block;
}

.alert strong {
	margin-right: 6px;
}
