{{ define "app" }}
  {
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Conditions": {
      {{ template "balancer-conditions" . }}
      {{ template "process-conditions" . }}
      "BlankCluster": { "Fn::Equals": [ { "Ref": "Cluster" }, "" ] }
    },
    "Parameters" : {
      {{ template "balancer-params" . }}
      {{ template "process-params" . }}

      "Cluster": {
        "Type" : "String",
        "Default" : "",
        "Description" : ""
      },
      "Cpu": {
        "Type": "Number",
        "Default": "200",
        "Description": "CPU shares of each process"
      },
      "Environment": {
        "Type": "String",
        "Default": "",
        "Description": ""
      },
      "Key": {
        "Type": "String",
        "Default": "",
        "Description": ""
      },
      "Release": {
        "Type" : "String",
        "Default" : "",
        "Description" : ""
      },
      "Repository": {
        "Type" : "String",
        "Default" : "",
        "Description" : "Source code repository"
      },
      "Subnets": {
        "Type" : "List<AWS::EC2::Subnet::Id>",
        "Default" : "",
        "Description" : "VPC subnets for this app"
      },
      "Version": {
        "Default": "latest",
        "Description": "Convox release version",
        "Type": "String"
      },
      "VPC": {
        "Type" : "AWS::EC2::VPC::Id",
        "Default" : "",
        "Description" : "VPC for this app"
      }
    },
    "Resources": {
      "CustomTopicRole": {
        "Type": "AWS::IAM::Role",
        "Properties": {
          "AssumeRolePolicyDocument": {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Effect": "Allow",
                "Principal": { "Service": [ "lambda.amazonaws.com" ] },
                "Action": [ "sts:AssumeRole" ]
              }
            ]
          },
          "Path": "/",
          "Policies": [
            {
              "PolicyName": "Administrator",
              "PolicyDocument": {
                "Version": "2012-10-17",
                "Statement": [ { "Effect": "Allow", "Action": "*", "Resource": "*" } ]
              }
            }
          ]
        }
      },
      "CustomTopic": {
        "Type": "AWS::Lambda::Function",
        "Properties": {
          "Code": {
            "S3Bucket": { "Fn::Join": [ "-", [ "convox", { "Ref": "AWS::Region" } ] ] },
            "S3Key": { "Fn::Join": [ "", [ "release/", { "Ref": "Version" }, "/formation.zip" ] ] }
          },
          "Handler": "lambda.external",
          "MemorySize": "128",
          "Role": { "Fn::GetAtt": [ "CustomTopicRole", "Arn" ] },
          "Runtime": "nodejs",
          "Timeout": "30"
        }
      },
      {{ template "balancer-resources" . }}
      {{ template "process-resources" . }}
      {{ template "process-services" . }}

      {{ template "security" }}
      {{ template "state" }}
    },
    "Outputs": {
      {{ template "balancer-outputs" . }}
      {{ template "process-outputs" . }}

      "Settings": {
        "Value": { "Ref": "Settings" }
      }
    }
  }
{{ end }}

{{ define "process-conditions" }}
  {{ range $k := .EntryNames }}
    "Blank{{ upper $k }}Service": { "Fn::Equals": [ { "Ref": "{{ upper $k }}Service" }, "" ] },
  {{ end }}
{{ end }}

{{ define "process-params" }}
  {{ range $e := . }}
    "{{ upper $e.Name }}Command": {
      "Type" : "String",
      "Default" : "{{ command $e.Command }}",
      "Description" : ""
    },
    "{{ upper $e.Name }}DesiredCount": {
      "Type" : "Number",
      "Default" : "1",
      "Description" : "The number of instantiations of the process to place and keep running on your cluster"
    },
    "{{ upper $e.Name }}Image": {
      "Type" : "String",
      "Default" : "",
      "Description" : ""
    },
    "{{ upper $e.Name }}Memory": {
      "Type": "Number",
      "Default": "256",
      "Description": "MB of RAM to reserve"
    },
    "{{ upper $e.Name }}Service": {
      "Type" : "String",
      "Default" : "",
      "Description" : ""
    },
  {{ end }}
{{ end }}

{{ define "process-outputs" }}
  "Kinesis": {
    "Value": { "Ref": "Kinesis" }
  },
{{ end }}

{{ define "process-resources" }}
  "Kinesis": {
    "Type": "AWS::Kinesis::Stream",
    "Properties": {
      "ShardCount": 1
    }
  },
  {{ if .HasProcesses }}
    "LogsUser": {
      "Type": "AWS::IAM::User",
      "Properties": {
        "Path": "/convox/",
        "Policies": [
          {
            "PolicyName": "LogsRole",
            "PolicyDocument": {
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Effect": "Allow",
                  "Action": [ "kinesis:PutRecords" ],
                  "Resource": [ { "Fn::Join": [ "", [ "arn:aws:kinesis:*:*:stream/", { "Ref": "AWS::StackName" }, "-*" ] ] } ]
                }
              ]
            }
          }
        ]
      }
    },
    "LogsAccess": {
      "Type": "AWS::IAM::AccessKey",
      "Properties": {
        "Serial": "1",
        "Status": "Active",
        "UserName": { "Ref": "LogsUser" }
      }
    },
  {{ end }}
{{ end }}

{{ define "process-services" }}
  {{ $manifest := . }}
  {{ if .HasProcesses }}
    {{ range $e := . }}
      "{{ upper $e.Name }}ECSTaskDefinition": {
        "DependsOn": ["CustomTopic", "ServiceRole"],
        "Type": "Custom::ECSTaskDefinition",
        "Version": "1.0",
        "Properties": {
          "ServiceToken": { "Fn::GetAtt": [ "CustomTopic", "Arn" ] },
          "Name": { "Fn::Join": [ "-", [ { "Ref": "AWS::StackName" }, "{{ $e.Name }}" ] ] },
          "Release": { "Ref": "Release" },
          "Environment": { "Ref": "Environment" },
          "Key": { "Ref": "Key" },
          "Tasks": [ {{ entry_task . $e.Name }} ]
        }
      },
      "{{ upper $e.Name }}ECSService": {
        "DependsOn": "CustomTopic",
        "Type": "Custom::ECSService",
        "Version": "1.0",
        "Properties": {
          "ServiceToken": { "Fn::GetAtt": [ "CustomTopic", "Arn" ] },
          "Cluster": { "Ref": "Cluster" },
          "DesiredCount": { "Ref": "{{ upper $e.Name }}DesiredCount" },
          "Name": { "Fn::Join": [ "-", [ { "Ref": "AWS::StackName" }, "{{ $e.Name }}" ] ] },
          "TaskDefinition": { "Ref": "{{ upper $e.Name }}ECSTaskDefinition" },
          "Role": { "Ref": "ServiceRole" },
          "LoadBalancers": [
            {{ range $e.ContainerPorts }}
              { "Fn::Join": [ ":", [ { "Ref": "{{ $manifest.BalancerResourceName $e.Name }}" }, "{{ $e.Name }}", "{{ . }}" ] ] },
            {{ end }}
            { "Ref": "AWS::NoValue" }
          ]
        }
      },
    {{ end }}
  {{ end }}
{{ end }}

{{ define "balancer-conditions" }}
  {{ range .Balancers }}
    {{ $balancer := . }}
    {{ range .ExternalPorts }}
      "Blank{{ upper $balancer.ProcessName }}Port{{ . }}Certificate": { "Fn::Equals": [ { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Certificate" }, "" ] },
      "Secure{{ upper $balancer.ProcessName }}Port{{ . }}": { "Fn::Equals": [ { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Secure" }, "Yes" ] },
    {{ end }}
  {{ end }}
{{ end }}

{{ define "balancer-params" }}
  {{ range $e := . }}
    {{ range .InternalPorts }}
      "{{ upper $e.Name }}Port{{ . }}Host": {
        "Type" : "String",
        "Default" : "{{ index $e.Randoms . }}",
        "Description" : ""
      },
    {{ end }}
  {{ end }}
  {{ range .Balancers }}
    {{ $balancer := . }}
    {{ range .ExternalPorts }}
      "{{ upper $balancer.ProcessName }}Port{{ . }}Balancer": {
        "Type" : "String",
        "Default" : "{{ . }}",
        "Description" : ""
      },
      "{{ upper $balancer.ProcessName }}Port{{ . }}Certificate": {
        "Type" : "String",
        "Default" : "",
        "Description" : ""
      },
      "{{ upper $balancer.ProcessName }}Port{{ . }}Host": {
        "Type" : "String",
        "Default" : "{{ index $balancer.Randoms . }}",
        "Description" : ""
      },
      "{{ upper $balancer.ProcessName }}Port{{ . }}Secure": {
        "Type" : "String",
        "Default" : "No",
        "Description" : "",
        "AllowedValues": [ "Yes", "No" ]
      },
    {{ end }}
  {{ end }}
{{ end }}

{{ define "balancer-outputs" }}
  {{ range .Balancers }}
    {{ $balancer := . }}
    "Balancer{{ upper .ProcessName }}Host": {
      "Value": { "Fn::GetAtt": [ "{{ .ResourceName }}", "DNSName" ] }
    },
    {{ range .ExternalPorts }}
      "{{ upper $balancer.ProcessName }}Port{{ . }}Balancer": {
        "Value": { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Balancer" }
      },
    {{ end }}
  {{ end }}
{{ end }}

{{ define "balancer-resources" }}
  {{ range .Balancers }}
    {{ $balancer := . }}
    "{{ .ResourceName }}SecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "GroupDescription": { "Fn::Join": [ " ", [ { "Ref": "AWS::StackName" }, "-balancer" ] ] },
        "SecurityGroupIngress": [
          {{ range .ExternalPorts }}
            {
              "CidrIp": "0.0.0.0/0",
              "IpProtocol": "tcp",
              "FromPort": { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Balancer" },
              "ToPort": { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Balancer" }
            },
          {{ end }}
          { "Ref": "AWS::NoValue" }
        ],
        "VpcId": { "Ref": "VPC" }
      }
    },
    "{{ .ResourceName }}": {
      "Type": "AWS::ElasticLoadBalancing::LoadBalancer",
      "Properties": {
        "Subnets": { "Ref": "Subnets" },
        "ConnectionDrainingPolicy": { "Enabled": true, "Timeout": 60 },
        "ConnectionSettings": { "IdleTimeout": 60 },
        "CrossZone": true,
        "HealthCheck": {
          "HealthyThreshold": "2",
          "Interval": 5,
          "Target": { "Fn::Join": [ ":", [ "TCP", { "Ref": "{{ upper .ProcessName }}Port{{ .FirstPort }}Host" } ] ] },
          "Timeout": 3,
          "UnhealthyThreshold": "2"
        },
        "Listeners": [
          {{ range .ExternalPorts }}
            { "Fn::If": [ "Blank{{ upper $balancer.ProcessName }}Port{{ . }}Certificate",
              {
                "Protocol": "TCP",
                "LoadBalancerPort": { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Balancer" },
                "InstanceProtocol": "TCP",
                "InstancePort": { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Host" }
              },
              { "Fn::If": [ "Secure{{ upper $balancer.ProcessName }}Port{{ . }}",
                {
                  "Protocol": "SSL",
                  "LoadBalancerPort": { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Balancer" },
                  "InstanceProtocol": "SSL",
                  "InstancePort": { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Host" },
                  "SSLCertificateId": { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Certificate" }
                },
                {
                  "Protocol": "SSL",
                  "LoadBalancerPort": { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Balancer" },
                  "InstanceProtocol": "TCP",
                  "InstancePort": { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Host" },
                  "SSLCertificateId": { "Ref": "{{ upper $balancer.ProcessName }}Port{{ . }}Certificate" }
                }
              ] }
            ] },
          {{ end }}
          { "Ref": "AWS::NoValue" }
        ],
        "LBCookieStickinessPolicy": [{ "PolicyName": "affinity" }],
        "LoadBalancerName": {{ .LoadBalancerName }},
        "SecurityGroups": [ { "Ref": "{{ .ResourceName }}SecurityGroup" } ]
      }
    },
  {{ end }}
{{ end }}

{{ define "security" }}
  "ServiceRole": {
    "Type": "AWS::IAM::Role",
    "Properties": {
      "AssumeRolePolicyDocument": {
        "Statement": [
          {
            "Action": [
              "sts:AssumeRole"
            ],
            "Effect": "Allow",
            "Principal": {
              "Service": [
                "ecs.amazonaws.com"
              ]
            }
          }
        ],
        "Version": "2012-10-17"
      },
      "Path": "/",
      "Policies": [
        {
          "PolicyName": "ServiceRole",
          "PolicyDocument": {
            "Statement": [
              {
                "Effect": "Allow",
                "Action": [
                  "elasticloadbalancing:Describe*",
                  "elasticloadbalancing:DeregisterInstancesFromLoadBalancer",
                  "elasticloadbalancing:RegisterInstancesWithLoadBalancer",
                  "ec2:Describe*",
                  "ec2:AuthorizeSecurityGroupIngress"
                ],
                "Resource": [
                  "*"
                ]
              }
            ]
          }
        }
      ]
    }
  },
{{ end }}

{{ define "state" }}
  "Settings": {
    "Type": "AWS::S3::Bucket",
    "DeletionPolicy": "Retain",
    "Properties": {
      "AccessControl": "Private",
      "Tags": [
        { "Key": "system", "Value": "convox" },
        { "Key": "app", "Value": { "Ref": "AWS::StackName" } }
      ]
    }
  }
{{ end }}
