'use strict';
let https = require('https');

var aws = require('aws-sdk');
var cloudformation = new aws.CloudFormation();

var params = {
    StackName: '{{ .Rack }}';
};

var querystring = require('querystring');
var postData = querystring.stringify({
  'command' : '{{ .CronJob.Command }}'
});

process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";

exports.handler = (event, context) => {
    console.log("REQUEST RECEIVED:\n" + JSON.stringify(event));

    if ((event.RequestType == "Delete") || (event.RequestType == "Update")) {
        context.done();
        return;
    }

    cloudformation.describeStacks(params, (err, data) => {
        if (err) {
            console.log(err);
        } else {
            var dashboard;
            var password;
            var outputs = data.Stacks[0].Outputs;
            var parameters = data.Stacks[0].Parameters;

            for(var i=0; i&lt;outputs.length; i++) {
                if (outputs[i].OutputKey == 'Dashboard') {
                    dashboard = outputs[i].OutputValue;
                }
            }

            for(i=0; i&lt;parameters.length; i++) {
                if (parameters[i].ParameterKey == 'Password') {
                    password = parameters[i].ParameterValue;
                }
            }

            var options = {
                host: dashboard,
                port: 443,
                path: '/apps/sinatra/processes/web/run',
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'User-Agent': 'curl/'
                },
                auth: 'convox:' + password
            };

            const req = https.request(options, (res) => {
                let body = '';
                console.log('Status:', res.statusCode);
                console.log('Headers:', JSON.stringify(res.headers));
                res.setEncoding('utf8');
                res.on('data', (chunk) => body += chunk);
                res.on('end', () => {
                    console.log(body);
                    context.done();
                });
            });

            req.on("error", (error) => {
                console.log('Error:', error);
                context.fail(error);
            });

            req.write(postData);
            req.end();
        }
    });
};
