{{ define "service" }}
  {
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Parameters": {
      "Url": {
        "Type" : "String",
        "Description" : "Webhook URL, e.g. 'https://grid.convox.com/rack-hook/1234'",
      },
      "NotificationTopic": {
        "Type" : "String",
        "Description" : "",
      },
    },
    "Resources": {
      "BuildSubscription": {
        "Type" : "Custom::SNSSubscription": {
          "TopicARN" : { "Ref": "NotificationTopic" },
          "Protocol" : "http",
          "Endpoint" : { "Ref": "Url" },
        }
      },
    },
    "Outputs": {
      "Url": {
        "Value": { "Ref": "Url" }
      }
    }
  }
{{ end }}
