{{ define "formation" }}
  {{ $app := . }}
  {
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Parameters" : {
      "Release" : {
        "Type" : "String",
        "Default" : "",
        "Description" : "Release"
      },
      "Repository" : {
        "Type" : "String",
        "Default" : "",
        "Description" : "Repository"
      }
    },
    "Mappings": {
      "Variables": {
        "Ami": { "Value": "{{ .Ami }}" }
      }
    },
    "Resources": {
      "BaseVpc": {
        "Type": "AWS::EC2::VPC",
        "Properties": {
          "CidrBlock": "10.0.0.0/16",
          "InstanceTenancy": "default",
          "Tags": [
            { "Key": "Name", "Value": "{{.Name}}" }
          ]
        }
      },
      "BaseGateway": {
        "Type": "AWS::EC2::InternetGateway",
        "Properties": {
        }
      },
      "BaseGatewayAttachment": {
        "Type": "AWS::EC2::VPCGatewayAttachment",
        "Properties": {
          "InternetGatewayId": { "Ref": "BaseGateway" },
          "VpcId": { "Ref": "BaseVpc" }
        }
      },
      "BaseRoutes": {
        "Type": "AWS::EC2::RouteTable",
        "Properties": {
          "VpcId": { "Ref": "BaseVpc" }
        }
      },
      "BaseRouteDefault": {
        "Type": "AWS::EC2::Route",
        "Properties": {
          "DestinationCidrBlock": "0.0.0.0/0",
          "GatewayId": { "Ref": "BaseGateway" },
          "RouteTableId": { "Ref": "BaseRoutes" }
        }
      },
      {{ range $i, $subnet := .Subnets }}
        "BaseSubnet{{ $i }}": {
          "Type": "AWS::EC2::Subnet",
          "Properties": {
            "AvailabilityZone": "{{ .AvailabilityZone }}",
            "CidrBlock": "{{ .Cidr }}",
            "VpcId": { "Ref": "BaseVpc" }
          }
        },
        "BaseSubnet{{ $i }}Routes": {
          "Type": "AWS::EC2::SubnetRouteTableAssociation",
          "Properties": {
            "SubnetId": { "Ref": "BaseSubnet{{ $i }}" },
            "RouteTableId": { "Ref": "BaseRoutes" }
          }
        },
      {{ end }}
      "BaseLogGroup": {
        "Type": "AWS::Logs::LogGroup",
        "Properties": {
          "RetentionInDays": 7
        }
      },
      {{ safe .ProcessFormation }}
      {{ safe .ServiceFormation }}
      "BaseSecurityGroup": {
        "Type": "AWS::EC2::SecurityGroup",
        "Properties": {
          "GroupDescription": "Instances",
          "SecurityGroupIngress": [
            { "IpProtocol": "tcp", "FromPort": "22", "ToPort": "22", "CidrIp": "24.98.26.131/32" },
            { "IpProtocol": "tcp", "FromPort": "3000", "ToPort": "3000", "CidrIp": "0.0.0.0/0" }
          ],
          "VpcId": { "Ref": "BaseVpc" }
        }
      },
      "BaseDynamoBuilds": {
        "Type": "AWS::DynamoDB::Table",
        "Properties": {
          "TableName": "{{ .Name }}-builds",
          "AttributeDefinitions": [
            { "AttributeName": "id", "AttributeType": "S" },
            { "AttributeName": "app", "AttributeType": "S" },
            { "AttributeName": "created", "AttributeType": "S" }
          ],
          "KeySchema": [
            { "AttributeName": "id", "KeyType": "HASH" }
          ],
          "GlobalSecondaryIndexes": [{
            "IndexName": "app.created",
            "KeySchema": [
              { "AttributeName": "app", "KeyType": "HASH" },
              { "AttributeName": "created", "KeyType": "RANGE" }
            ],
            "Projection": {
              "ProjectionType": "ALL"
            },
            "ProvisionedThroughput": {
              "ReadCapacityUnits": "5",
              "WriteCapacityUnits": "5"
            }
          }],
          "ProvisionedThroughput": {
            "ReadCapacityUnits": "5",
            "WriteCapacityUnits": "5"
          }
        }
      },
      "BaseDynamoEnv": {
        "Type": "AWS::DynamoDB::Table",
        "Properties": {
          "TableName": "{{ .Name }}-env",
          "AttributeDefinitions": [
            { "AttributeName": "name", "AttributeType": "S" }
          ],
          "KeySchema": [
            { "AttributeName": "name", "KeyType": "HASH" }
          ],
          "ProvisionedThroughput": {
            "ReadCapacityUnits": "5",
            "WriteCapacityUnits": "5"
          }
        }
      },
      "BaseDynamoChanges": {
        "Type": "AWS::DynamoDB::Table",
        "Properties": {
          "TableName": "{{ .Name }}-changes",
          "AttributeDefinitions": [
            { "AttributeName": "app", "AttributeType": "S" },
            { "AttributeName": "created", "AttributeType": "S" }
          ],
          "KeySchema": [
            { "AttributeName": "app", "KeyType": "HASH" },
            { "AttributeName": "created", "KeyType": "RANGE" }
          ],
          "ProvisionedThroughput": {
            "ReadCapacityUnits": "5",
            "WriteCapacityUnits": "5"
          }
        }
      },
      "BaseDynamoProcesses": {
        "Type": "AWS::DynamoDB::Table",
        "Properties": {
          "TableName": "{{ .Name }}-processes",
          "AttributeDefinitions": [
            { "AttributeName": "name", "AttributeType": "S" }
          ],
          "KeySchema": [
            { "AttributeName": "name", "KeyType": "HASH" }
          ],
          "ProvisionedThroughput": {
            "ReadCapacityUnits": "5",
            "WriteCapacityUnits": "5"
          }
        }
      },
      "BaseDynamoReleases": {
        "Type": "AWS::DynamoDB::Table",
        "Properties": {
          "TableName": "{{ .Name }}-releases",
          "AttributeDefinitions": [
            { "AttributeName": "id", "AttributeType": "S" },
            { "AttributeName": "app", "AttributeType": "S" },
            { "AttributeName": "created", "AttributeType": "S" }
          ],
          "KeySchema": [
            { "AttributeName": "id", "KeyType": "HASH" }
          ],
          "GlobalSecondaryIndexes": [{
            "IndexName": "app.created",
            "KeySchema": [
              { "AttributeName": "app", "KeyType": "HASH" },
              { "AttributeName": "created", "KeyType": "RANGE" }
            ],
            "Projection": {
              "ProjectionType": "ALL"
            },
            "ProvisionedThroughput": {
              "ReadCapacityUnits": "5",
              "WriteCapacityUnits": "5"
            }
          }],
          "ProvisionedThroughput": {
            "ReadCapacityUnits": "5",
            "WriteCapacityUnits": "5"
          }
        }
      },
      "BaseDynamoServices": {
        "Type": "AWS::DynamoDB::Table",
        "Properties": {
          "TableName": "{{ .Name }}-services",
          "AttributeDefinitions": [
            { "AttributeName": "name", "AttributeType": "S" }
          ],
          "KeySchema": [
            { "AttributeName": "name", "KeyType": "HASH" }
          ],
          "ProvisionedThroughput": {
            "ReadCapacityUnits": "5",
            "WriteCapacityUnits": "5"
          }
        }
      }
    },
    "Outputs": {
      "Processes": {
        "Value": "{{ join .ProcessNames "," }}"
      },
      {{ range .Processes }}
        {{ if .Balancer }}
          "{{ upper .Name }}BalancerHost": {
            "Value": { "Fn::GetAtt": [ "{{ upper .Name }}Balancer", "DNSName" ] }
          },
        {{ end }}
      {{ end }}
      "BaseSecurityGroup": {
        "Value": { "Ref": "BaseSecurityGroup" }
      }
    }
  }
{{ end }}
