{{ define "title" }} {{.Cluster.Name}} / {{.Name}} {{ end }}

{{ define "body" }}
	<ul class="breadcrumb">
		<li><a href="/clusters">Clusters</a></li>
		<li><a href="/clusters/{{.Cluster.Name}}">{{.Cluster.Name}}</a></li>
		<li class="active">{{ .Name }}</li>
	</ul>
	<div class="panel panel-default">
		<div class="panel-heading">
			<form method="post" action="/clusters/{{.Cluster.Name}}/apps/{{.Name}}/delete">
				<input type="submit" class="btn btn-danger btn-xs" value="Destroy App">
			</form>
			<h3 class="panel-title">App Information</h3>
		</div>
		<div class="panel-body">
			Stuff
		</div>
	</div>
	<div class="table-title">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="title">
					<th colspan="6">
						Processes
					</th>
				</tr>
				<tr>
					<th>Name</th>
					<th>Count</th>
					<th class="expand hidden-xs">Command</th>
					<th>CPU</th>
					<th>Memory</th>
					<th>Disk</th>
				</tr>
			</thead>
			<tbody>
				{{ range $process := .Processes }}
					<tr>
						<td><a href="/clusters/{{.App.Cluster.Name}}/apps/{{.App.Name}}/processes/{{.Name}}">{{.Name}}</a></td>
						<td class="text-center">{{.Count}}</td>
						<td class="hidden-xs"><div class="command-line">{{.Command}}</div></td>
						<td>{{ meter "cpu"    .CpuUsed    .CpuTotal    }}</td>
						<td>{{ meter "memory" .MemoryUsed .MemoryTotal }}</td>
						<td>{{ meter "disk"   .DiskUsed   .DiskTotal   }}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	<div class="table-title">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="title">
					<th colspan="6">
						<a class="btn btn-success btn-xs">Create Release</a>
						Releases
					</th>
				</tr>
				<tr>
					<th class="expand">AMI</th>
					<th>Created</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{ range .Releases }}
					<tr>
						<td>
							{{ .Ami }}
						</td>
						<td>{{ timeago .CreatedAt }}</td>
						<td>
							<button class="btn btn-primary btn-xs">Promote</button>
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
	</div>
	<script>
		$(window).ready(function() {
			$('#toggle-select').on('change', function() {
				console.log('checked', this.checked);
				$('input[type="checkbox"]').prop('checked', this.checked);
			});
		});
	</script>
{{ end }}
