{{ define "title" }} Convox {{ end }}

{{ define "body" }}

  {{ $app := . }}

	<div id="alert" class="alert alert-danger  alert-dismissible" role="alert" style="display:none;">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Error:</strong><span class="message"></span>
	</div>

	<ol class="breadcrumb">
		<li><a href="/apps">Apps</a></li>
		<li class="active">{{ .Name }}</li>
	</ol>

	<div class="panel panel-default">
		<div class="panel-heading">
			<button id="destroy-app" class="btn btn-danger btn-xs">Destroy App</button>
			<button id="build-app" class="btn btn-success btn-xs">Build</button>
			<h3 class="panel-title">{{ .Name }}</h3>
		</div>
		<div class="panel-body">
			{{ label "Repository" .Repository }}
			{{ label "Status" (status .Status) }}
		</div>
	</div>

	<div class="table-title">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="title">
					<th colspan="6">
						Processes
					</th>
				</tr>
				<tr>
					<th class="expand">Name</th>
					<th>Count</th>
					<th>CPU</th>
					<th>Memory</th>
					<th>Disk</th>
				</tr>
			</thead>
			<tbody>
				{{ range $process := .Processes }}
					<tr>
						<td class="meta-buttons">
							{{ if .Balancer }}
								<button class="btn btn-xs btn-primary glyph" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="<a href='http://{{ .BalancerUrl }}/'>{{ .BalancerUrl }}</a>">
									<span class="glyphicon glyphicon-random">
								</button>
							{{ end }}
							{{ .Name }}
						</td>
						<td class="text-center">{{.Count}}</td>
						{{ $metrics := .Metrics }}
						<td>{{ meter "cpu"    $metrics.Cpu    100 }}</td>
						<td>{{ meter "memory" $metrics.Memory 100 }}</td>
						<td>{{ meter "disk"   $metrics.Disk   100 }}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>

	<div class="table-title">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="title">
					<th>
						Logs	
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="logs-container">
						<pre id="app-logs"></pre>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="table-title">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="title">
					<th colspan="5">
						Builds
					</th>
				</tr>
				<tr>
					<th>ID</th>
					<th>Status</th>
					<th class="expand">Started</th>
					<th>Duration</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{ range .Builds }}
					<tr>
						<td class="id">{{ .Id }}</td>
						<td>{{ .Status }}</td>
						<td>{{ timeago .Created }}</td>
						<td>{{ duration .Created .Ended }}</td>
						<td class="buttons">
							<button class="btn btn-xs btn-primary glyph" title="Logs" data-toggle="modal" data-target="#build-logs-{{ .Id }}">
								<span class="glyphicon glyphicon-align-left" aria-hidden="true" style="margin-top:2px;"></span>
							</button>
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>

	<div class="table-title">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="title">
					<th colspan="6">
						Releases
					</th>
				</tr>
				<tr>
					<th>ID</th>
					<th>AMI</th>
					<th class="expand">Created</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{ range .Releases }}
					<tr>
						<td class="id">{{ .Id }}</td>
						<td>{{ .Ami }}</td>
						<td>{{ timeago .Created }}</td>
						<td class="buttons">
							<button class="btn btn-xs btn-primary glyph" title="CloudFormation Template" data-toggle="modal" data-target="#release-formation-{{ .Id }}">
								<span class="glyphicon glyphicon-barcode" aria-hidden="true" style="margin-top:2px;"></span>
							</button>
						</td>
						<td class="buttons">
							{{ if eq $app.Release .Id }}
								<button class="btn btn-success btn-xs promote-release release-active" data-release="{{ .Id }}">Active</button>
							{{ else }}
								<button class="btn btn-warning btn-xs promote-release" data-release="{{ .Id }}">Promote</button>
							{{ end }}
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>

	{{ range .Builds }}
		<div id="build-logs-{{ .Id }}" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Build Logs: {{ .Id }}</h4>
					</div>
					<div class="modal-body">
						<pre class="modal-scroll">{{ .Logs }}</pre>
					</div>
				</div>
			</div>
		</div>
	{{ end }}

	{{ range .Releases }}
		<div id="release-formation-{{ .Id }}" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">CloudFormation Template: {{ .Id }}</h4>
					</div>
					<div class="modal-body">
						<pre class="modal-scroll"></pre>
					</div>
				</div>
			</div>
		</div>
	{{ end }}

	<script>
		$(window).ready(function() {
			$('#build-app').on('click', function() {
				$.ajax({ type: 'POST', url:'/apps/{{ .Name }}/build', data: { repo: '{{ .Repository }}' }}).done(function(msg) {
					window.location = '/apps/{{ .Name }}';
				}).fail(function(msg) {
					$('#alert .message').html(msg.responseText);
					$('#alert').show();
				});
			});

			$('#destroy-app').on('click', function() {
				$.ajax({ type: 'DELETE', url:'/apps/{{ .Name }}'}).done(function(msg) {
					window.location = '/apps';
				}).fail(function(msg) {
					$('#alert .message').html(msg.responseText);
					$('#alert').show();
				});
			});

			$('.promote-release').on('click', function() {
				console.log('foo');
				$.ajax({ type: 'POST', url:'/apps/{{ .Name }}/promote', data: { release: $(this).data('release') }}).done(function(msg) {
					window.location = '/apps/{{ .Name }}';
				}).fail(function(msg) {
					$('#alert .message').html(msg.responseText);
					$('#alert').show();
				});
			});

			connect_log_socket();
		});

		var logs;

		function connect_log_socket() {
			logs = new WebSocket('ws://' + location.host + '/apps/{{ .Name }}/logs');

			logs.onclose = function(e) {
				console.log('onclose', e);
				//setTimeout(connect_log_socket, 1000);
			}

			logs.onmessage = function(e) {
				var div = $('#app-logs');
				div.append(e.data);
				div[0].scrollTop = div[0].scrollHeight;
			}
		}
	</script>

{{ end }}
