{{ define "title" }} {{.Cluster.Name}} / {{.Name}} {{ end }}

{{ define "body" }}
	{{ $app := . }}
	<ul class="breadcrumb">
		<li><a href="/clusters">Clusters</a></li>
		<li><a href="/clusters/{{.Cluster.Name}}">{{.Cluster.Name}}</a></li>
		<li class="active">{{ .Name }}</li>
	</ul>
	<div class="panel panel-default">
		<div class="panel-heading">
			<form method="post" action="/clusters/{{.Cluster.Name}}/apps/{{.Name}}/delete">
				<input type="submit" class="btn btn-danger btn-xs" value="Destroy App">
			</form>
			<form method="post" action="/clusters/{{ .Cluster.Name }}/apps/{{ .Name }}/build">
				<input type="hidden" name="repo" value="{{ .Repository }}">
				<input type="submit" class="btn btn-success btn-xs" value="Build">
			</form>
			<h3 class="panel-title">App Information</h3>
		</div>
		<div class="panel-body">
			{{ label "Repository" .Repository }}
			{{ label "Status" (status .Status) }}
		</div>
	</div>
	<div class="table-title">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="title">
					<th colspan="6">
						Processes
					</th>
				</tr>
				<tr>
					<th class="expand">Name</th>
					<th>Count</th>
					<th>CPU</th>
					<th>Memory</th>
					<th>Disk</th>
				</tr>
			</thead>
			<tbody>
				{{ range $process := .Processes }}
					<tr>
						<td class="meta-buttons">
							{{ if .Balancer }}
								<button class="btn btn-xs btn-primary glyph" data-container="body" data-toggle="popover" data-placement="left" data-content="<a href='http://{{ .Balancer }}/'>{{ .Balancer }}</a>">
									<span class="glyphicon glyphicon-random">
								</button>
							{{ end }}
							<a href="/clusters/{{ $app.Cluster.Name }}/apps/{{ $app.Name }}/processes/{{.Name}}">{{ .Name }}</a>
						</td>
						<td class="text-center">{{.Count}}</td>
						<td>{{ meter "cpu"    .CpuUsed    .CpuTotal    }}</td>
						<td>{{ meter "memory" .MemoryUsed .MemoryTotal }}</td>
						<td>{{ meter "disk"   .DiskUsed   .DiskTotal   }}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
	<div class="table-title">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="title">
					<th colspan="6">
						Builds
					</th>
				</tr>
				<tr>
					<th>ID</th>
					<th>Status</th>
					<th class="expand">Started</th>
					<th>Release</th>
					<th>Duration</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{ range .Builds }}
					<tr>
						<td class="id">{{ .Id }}</td>
						<td>{{ .Status }}</td>
						<td>{{ timeago .CreatedAt }}</td>
						<td class="id">{{ .Release }}</td>
						<td>{{ duration .CreatedAt .EndedAt }}</td>
						<td class="buttons">
							<button class="btn btn-xs btn-primary glyph" title="Logs">
								<span class="glyphicon glyphicon-align-left" aria-hidden="true" style="margin-top:2px;"></span>
							</button>
							<button class="btn btn-xs btn-primary glyph" title="Manifest">
								<span class="glyphicon glyphicon-briefcase" aria-hidden="true" style="margin-top:2px;"></span>
							</button>
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
	<div class="table-title">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="title">
					<th colspan="6">
						Releases
					</th>
				</tr>
				<tr>
					<th>ID</th>
					<th>AMI</th>
					<th class="expand">Created</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{ range .Releases }}
					<tr>
						<td class="id">{{ .Id }}</td>
						<td>{{ .Ami }}</td>
						<td>{{ timeago .CreatedAt }}</td>
						<td class="buttons">
							{{ if eq $app.Release .Id }}
								<div class="label label-success release-active">Active</div>
							{{ else }}
								<form method="post" action="/clusters/{{ $app.Cluster.Name }}/apps/{{ $app.Name }}/promote">
									<input type="hidden" name="release" value="{{ .Id }}">
									<input type="submit" class="btn btn-warning btn-xs" value="Promote">
								</form>
							{{ end }}
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
	<script>
		$(window).ready(function() {
		});
	</script>
{{ end }}
