{{ define "env" }}
	{ "Fn::Join": [ "=", [ "REDIS_PORT_6379_TCP_ADDR", { "Fn::GetAtt": [ "{{ upper .Name }}Balancer", "DNSName" ] } ] ] },
	"REDIS_PORT_6379_TCP_PORT=6379",
{{ end }}

{{ define "userdata" }}
{{ end }}

{{ define "formation" }}
	"{{ upper .Name }}BalancerSecurity": {
		"Type": "AWS::EC2::SecurityGroup",
		"Properties": {
			"GroupDescription": "{{ .Name}} Balancer",
			"SecurityGroupIngress": [
				{ "IpProtocol": "tcp", "FromPort": "6379", "ToPort": "6379", "CidrIp": "10.0.0.0/16" }
			],
			"VpcId": { "Ref": "Vpc" }
		}
	},
	"{{ upper .Name }}Balancer": {
		"Type": "AWS::ElasticLoadBalancing::LoadBalancer",
		"Properties": {
			"Subnets": [
				{ "Ref": "Subnet0" },
				{ "Ref": "Subnet1" },
				{ "Ref": "Subnet2" },
				{ "Ref": "Subnet3" }
			],
			"ConnectionDrainingPolicy": { "Enabled": true, "Timeout": 60 },
			"ConnectionSettings": { "IdleTimeout": 60 },
			"CrossZone": true,
			"HealthCheck": {
				"HealthyThreshold": "2",
				"Interval": 5,
				"Target": "TCP:6379",
				"Timeout": 3,
				"UnhealthyThreshold": "2"
			},
			"LBCookieStickinessPolicy": [{ "PolicyName": "affinity" }],
			"Listeners": [
				{ "Protocol": "TCP", "LoadBalancerPort": "6379", "InstanceProtocol": "TCP", "InstancePort": "6379" }
			],
			"Scheme": "internal",
			"SecurityGroups": [ { "Ref": "{{ upper .Name }}BalancerSecurity" } ]
		}
	},
	"{{ upper .Name }}Security": {
		"Type": "AWS::EC2::SecurityGroup",
		"Properties": {
			"GroupDescription": "{{ .Name }} Balancer",
			"SecurityGroupIngress": [
				{ "IpProtocol": "tcp", "FromPort": "6379", "ToPort": "6379", "CidrIp": "10.0.0.0/16" }
			],
			"VpcId": { "Ref": "Vpc" }
		}
	},
  "{{ upper .Name }}Launch": {
    "Type": "AWS::AutoScaling::LaunchConfiguration",
    "Properties": {
      "AssociatePublicIpAddress": true,
      "BlockDeviceMappings": [ 
        { "DeviceName": "/dev/sda1", "Ebs": { "VolumeSize": "10", "VolumeType": "standard" } }
      ],
      "EbsOptimized": false,
      "ImageId": "ami-8ce49ee4",
      "InstanceMonitoring": true,
      "InstanceType": "t2.micro",
      "KeyName": "production",
      "SecurityGroups": [ { "Ref": "{{ upper .Name }}Security" } ],
      "UserData": ""
    }
  },
  "{{ upper .Name }}Instances": {
    "Type": "AWS::AutoScaling::AutoScalingGroup",
    "Properties" : {
      "LaunchConfigurationName" : { "Ref": "{{ upper .Name }}Launch" },
      "AvailabilityZones": [ {{ array .AvailabilityZones }} ],
      "VPCZoneIdentifier": [ 
        { "Ref": "Subnet0" },
        { "Ref": "Subnet1" },
        { "Ref": "Subnet2" },
        { "Ref": "Subnet3" }
      ],
      "Cooldown": 5,
      "DesiredCapacity": "1",
      "MinSize" : "1",
      "MaxSize" : "2",
			"LoadBalancerNames": [ { "Ref": "{{ upper .Name }}Balancer" } ],
      "HealthCheckType": "EC2",
      "HealthCheckGracePeriod": 30,
      "MetricsCollection": [ { "Granularity": "1Minute" } ]
    },
    "UpdatePolicy": {
      "AutoScalingRollingUpdate": {
        "MaxBatchSize": 1,
        "MinInstancesInService": 1
      }
    }
  },
{{ end }}
