{{ define "service" }}
  {
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Conditions": {
      "BlankMaxConnections": { "Fn::Equals": [ { "Ref": "MaxConnections" }, "" ] }
    },
    "Parameters": {
      "AllocatedStorage": {
        "Type" : "Number",
        "Default" : "10",
        "Description" : "Allocated storage size (GB)"
      },
      "Database": {
        "Type" : "String",
        "Default" : "app",
        "Description" : "Default database name"
      },
      "InstanceType": {
        "Type" : "String",
        "Default" : "db.t2.micro",
        "Description" : "Instance class for database nodes"
      },
      "MaxConnections": {
        "Type" : "String",
        "Default" : "",
        "Description" : "ParameterGroup max_connections value, i.e. '{DBInstanceClassMemory/15000000}'"
      },
      "MultiAZ": {
        "Type" : "String",
        "Default" : "false",
        "Description" : "Multiple availability zone"
      },
      "Password": {
        "Type" : "String",
        "Description" : "Server password"
      },
      "Subnets": {
        "Type": "List<AWS::EC2::Subnet::Id>",
        "Description": "VPC subnets"
      },
      "Username": {
        "Type" : "String",
        "Default" : "postgres",
        "Description" : "Server username"
      },
      "Vpc": {
        "Type": "AWS::EC2::VPC::Id",
        "Description": "VPC"
      }
    },
    "Outputs": {
      "Port5432TcpAddr": { "Value": { "Fn::GetAtt": [ "Instance", "Endpoint.Address" ] } },
      "Port5432TcpPort": { "Value": { "Fn::GetAtt": [ "Instance", "Endpoint.Port" ] } },
      "EnvPostgresDatabase": { "Value": { "Ref": "Database" } },
      "EnvPostgresPassword": { "Value": { "Ref": "Password" } },
      "EnvPostgresUsername": { "Value": { "Ref": "Username" } }
    },
    "Resources": {
      "SecurityGroup": {
        "Type": "AWS::EC2::SecurityGroup",
        "Properties": {
          "GroupDescription": "postgres service",
          "SecurityGroupIngress": [
            { "IpProtocol": "tcp", "FromPort": "5432", "ToPort": "5432", "CidrIp": "10.0.0.0/16" }
          ],
          "VpcId": { "Ref": "Vpc" }
        }
      },
      "SubnetGroup": {
        "Type": "AWS::RDS::DBSubnetGroup",
        "Properties": {
          "DBSubnetGroupDescription": "postgres service",
          "SubnetIds": { "Ref": "Subnets" }
        }
      },
      "Instance": {
        "Type": "AWS::RDS::DBInstance",
        "Properties": {
          "AllocatedStorage": { "Ref": "AllocatedStorage" },
          "DBInstanceClass": { "Ref": "InstanceType" },
          "DBInstanceIdentifier": { "Ref": "AWS::StackName" },
          "DBName": { "Ref": "Database" },
          "DBParameterGroupName": { "Ref": "ParameterGroup" },
          "DBSubnetGroupName": { "Ref": "SubnetGroup" },
          "Engine": "postgres",
          "EngineVersion": "9.4.5",
          "MasterUsername": { "Ref": "Username" },
          "MasterUserPassword": { "Ref": "Password" },
          "MultiAZ": { "Ref": "MultiAZ" },
          "Port": "5432",
          "PubliclyAccessible": "false",
          "StorageType": "gp2",
          "VPCSecurityGroups": [ { "Ref": "SecurityGroup" } ]
        }
      },
      "ParameterGroup": {
        "Type": "AWS::RDS::DBParameterGroup",
        "Properties" : {
          "Description" : { "Ref": "Database" },
          "Family" : "postgres9.4",
          "Parameters" : {
            "max_connections": { "Fn::If": [ "BlankMaxConnections", { "Ref": "AWS::NoValue" }, { "Ref": "MaxConnections" } ] }
          }
        }
      }
    }
  }
{{ end }}
