{{ define "service" }}
  {
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Parameters": {
      "AutomaticFailoverEnabled": {
        "Type": "String",
        "Default": "false",
        "Description": "Indicates whether Multi-AZ is enabled. Must be accompanied with InstanceType=cache.m3.medium or higher and NumCacheCluster=2 or higher."
      },
      "Database": {
        "Type" : "String",
        "Default" : "0",
        "Description" : "Default database index"
      },
      "InstanceType": {
        "Type": "String",
        "Default": "cache.t2.micro",
        "Description": "The type of instance to use"
      },
      "NumCacheClusters": {
        "Type": "String",
        "Default": "1",
        "Description": "The number of cache clusters for this replication group"
      },
      "Subnets": {
        "Type": "List<AWS::EC2::Subnet::Id>",
        "Description": "VPC subnets"
      },
      "Vpc": {
        "Type": "AWS::EC2::VPC::Id",
        "Description": "VPC"
      }
    },
    "Outputs": {
      "Port6379TcpAddr": { "Value": { "Fn::GetAtt": [ "ReplicationGroup", "PrimaryEndPoint.Address" ] } },
      "Port6379TcpPort": { "Value": { "Fn::GetAtt": [ "ReplicationGroup", "PrimaryEndPoint.Port" ] } },
      "EnvRedisDatabase": { "Value": { "Ref": "Database" } }
    },
    "Resources": {
      "SecurityGroup": {
        "Type": "AWS::EC2::SecurityGroup",
        "Properties": {
          "GroupDescription": "redis service",
          "SecurityGroupIngress": [
            { "IpProtocol": "tcp", "FromPort": "6379", "ToPort": "6379", "CidrIp": "10.0.0.0/16" }
          ],
          "VpcId": { "Ref": "Vpc" }
        }
      },
      "CacheSubnetGroup": {
        "Type": "AWS::ElastiCache::SubnetGroup",
        "Properties": {
          "Description": "Redis subnet group",
          "SubnetIds": { "Ref": "Subnets" }
        }
      },
      "ReplicationGroup": {
        "Type": "AWS::ElastiCache::ReplicationGroup",
        "Properties": {
          "AutomaticFailoverEnabled": { "Ref": "AutomaticFailoverEnabled" },
          "AutoMinorVersionUpgrade": true,
          "CacheNodeType": { "Ref": "InstanceType" },
          "CacheSubnetGroupName": { "Ref": "CacheSubnetGroup" },
          "Engine": "redis",
          "EngineVersion": "2.8.24",
          "NumCacheClusters": { "Ref": "NumCacheClusters" },
          "Port": "6379",
          "ReplicationGroupDescription": { "Ref": "AWS::StackName" },
          "SecurityGroupIds": [ { "Ref": "SecurityGroup" } ]
        }
      }
    }
  }
{{ end }}
