{{ define "service" }}
  {
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Conditions": {
      "Queue": { "Fn::Not": [ { "Fn::Equals": [ { "Ref": "Queue" }, "" ] } ] }
    },
    "Parameters": {
      "Queue": {
        "Type" : "String",
        "Default": "",
        "Description" : "SQS Queue Name"
      }
    },
    "Resources": {
      "Bucket": {
          "Type": "AWS::S3::Bucket",
          "Properties": {
              "AccessControl": "Private",
              "BucketName": { "Ref": "AWS::StackName" },
              "NotificationConfiguration": {
                "Fn::If": [ "Queue",
                  {
                    "QueueConfigurations": [
                      {
                        "Event" : "s3:ObjectCreated:*",
                        "Queue" : { "Fn::Join": [ ":", [ "arn:aws:sqs", { "Ref": "AWS::Region" }, { "Ref": "AWS::AccountId" }, { "Ref": "Queue" } ] ] }
                      },
                      {
                        "Event" : "s3:ObjectRemoved:*",
                        "Queue" : { "Fn::Join": [ ":", [ "arn:aws:sqs", { "Ref": "AWS::Region" }, { "Ref": "AWS::AccountId" }, { "Ref": "Queue" } ] ] }
                      }
                    ]
                  },
                  { "Ref" : "AWS::NoValue" }
                ]
              },
              "Tags": [
                  {{/*
                    HACK: Referencing QueuePolicy for a tag implicitly creates the QueuePolicy before the Bucket.
                    This fixes a Bucket provisioning error when it can't validate permissions on the queue.
                    This is a workaround since DependsOn must be static and will error on conditional Resources that don't exist.
                  */}}
                  { "Fn::If": ["Queue",
                    { "Key": "QueuePolicy", "Value": { "Ref": "QueuePolicy" } },
                    { "Ref": "AWS::NoValue" }
                  ]}
              ]
          }
      },
      "QueuePolicy": {
        "Condition": "Queue",
        "Type": "AWS::SQS::QueuePolicy",
        "Properties" : {
          "PolicyDocument" : {
            "Version": "2008-10-17",
            "Id": "example-ID",
            "Statement": [{
              "Sid": "example-statement-ID",
              "Effect": "Allow",
              "Principal": {
                "AWS": "*"
              },
              "Action": [
                "SQS:*"
              ],
              "Resource": { "Fn::Join": [ ":", [ "arn:aws:sqs", { "Ref": "AWS::Region" }, { "Ref": "AWS::AccountId" }, { "Ref": "Queue" } ] ] },
              "Condition": {
                "ArnLike": {
                  "aws:SourceArn": { "Fn::Join": [ ":", [ "arn:aws:s3:*:*", { "Ref": "AWS::StackName" } ] ] }
                }
              }
            }]
          },
          "Queues": [
            { "Fn::Join": [ "", [
              "https://sqs.", { "Ref": "AWS::Region" }, ".amazonaws.com/", { "Ref": "AWS::AccountId" }, "/", { "Ref": "Queue" }
            ] ] }
          ]
        }
      },
      "User": {
        "Type": "AWS::IAM::User",
        "Properties": {
          "Policies": [{
            "PolicyName" : "S3Access",
            "PolicyDocument" : {
              "Statement": [{
                "Effect"   : "Allow",
                "Action"   : "s3:ListBucket",
                "Resource" : { "Fn::Join" : ["", ["arn:aws:s3:::", {"Ref" : "AWS::StackName"}]] }
              },{
                "Effect"   : "Allow",
                "Action"   : "s3:*",
                "Resource" : { "Fn::Join" : ["", ["arn:aws:s3:::", {"Ref" : "AWS::StackName"} , "/*"]] }
              }]
            }
          }]
        }
      },
      "AccessKey": {
        "Type": "AWS::IAM::AccessKey",
        "Properties": {
          "UserName": { "Ref": "User" }
        }
      }
    },
    "Outputs": {
      "Bucket": {
        "Value": { "Ref": "Bucket" }
      },
      "AccessKey": {
        "Value": { "Ref": "AccessKey" }
      },
      "SecretAccessKey": {
        "Value": { "Fn::Base64": { "Fn::GetAtt": ["AccessKey", "SecretAccessKey"] } }
      }
    }
  }
{{ end }}
