{{ define "service" }}
  {
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Parameters": {
    },
    "Resources": {
      "Queue": {
        "Type": "AWS::SQS::Queue",
        "Properties": {
        }
      }
    },
    "Outputs": {
      "Arn": {
        "Value": { "Fn::GetAtt": ["Queue", "Arn"] }
      }
    }
  }
{{ end }}
