apiVersion: convox.com/v1
kind: Atom
metadata:
  namespace: {{.Namespace}}
  name: {{.Name}}
spec:
  currentVersion: {{.Name}}-{{.Version}}
  current:
    template: {{.Template}}
    version: "{{.Version}}"
  progressDeadlineSeconds: {{.Timeout}}
status: Pending