apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}
  labels:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    database: {{.Database}}
    type: resource
    resource: {{.Name}}
    username: {{.Username}}
data:
  URL: "postgres://{{.Username}}:{{.Password}}@resource-{{.Name}}.{{.Namespace}}.svc.cluster.local:5432/{{.Database}}"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}-postgres
  labels:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    resource: {{.Name}}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}
  labels:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    type: resource
    kind: postgres
    resource: {{.Name}}
spec:
  selector:
    matchLabels:
      system: convox
      rack: {{.Rack}}
      app: {{.App}}
      database: {{.Database}}
      resource: {{.Name}}
      username: {{.Username}}
  replicas: 1
  template:
    metadata:
      labels:
        system: convox
        rack: {{.Rack}}
        app: {{.App}}
        database: {{.Database}}
        type: resource
        resource: {{.Name}}
        username: {{.Username}}
    spec:
      containers:
      - name: postgres
        image: postgres:{{ coalesce (index .Parameters "version") "10.5" }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          value: "{{.Database}}"
        - name: POSTGRES_USER
          value: "{{.Username}}"
        - name: POSTGRES_PASSWORD
          value: "{{.Password}}"
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: resource-{{.Name}}-postgres
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{.Namespace}}
  name: resource-{{.Name}}
  labels:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    database: {{.Database}}
    type: resource
    resource: {{.Name}}
    username: {{.Username}}
spec:
  type: NodePort
  ports:
  - port: 5432
  selector:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    database: {{.Database}}
    resource: {{.Name}}
    username: {{.Username}}
