{{ define "title" }} Domains {{ end }}

{{ define "body" }}
	<ul class="breadcrumb">
		<li><a href="/domains">Domains</a> <span class="divider">/</span></li>
		<li class="active">{{ .Name }}</li>
	</ul>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
			  <th></th>
				<th>Record</th>
				<th>Type</th>
				<th>TTL</th>
				<th width="100%">Values</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr class="info">
				<td><input type="checkbox" id="toggle-select"></td>
				<td colspan="4"><b>User Records</b></th>
				<td nowrap></td>
			</tr>
			{{ $domain := . }}
			{{ range $record := .UserRecords }}
				<tr class="record-user">
					<td><input type="checkbox"></td>
					<td><a href="#">{{ $record.Name }}</a></td>
					<td>{{ $record.Type }}</td>
					<td>{{ $record.TTL }}</td>
					<td class="record-value">{{ join $record.Values ", " }}</td>
					<td>
						<form method="post" action="/domains/{{ $domain.Name }}/record/delete">
							<input type="hidden" name="zone" value="{{ $domain.ID }}" />
							<input type="hidden" name="name" value="{{ $record.Name }}" />
							<input type="hidden" name="type" value="{{ $record.Type }}" />
							<input type="hidden" name="ttl" value="{{ $record.TTL }}" />
							<input type="hidden" name="setid" value="{{ $record.SetID }}" />
							<input type="hidden" name="records" value="{{ join $record.Values "," }}" />
							<input type="submit" class="btn btn-mini btn-danger btn-single" value="Delete" />
						</form>
					</td>
				</tr>
			{{ end }}
			<form method="post" action="/domains/{{ .Name }}/record">
				<input type="hidden" name="zone" value="{{ .ID }}" />
				<tr class="record-add">
					<td></td>
					<td><input name="name" type="text" class="input-small"></td>
					<td>
						<select name="type" class="input-mini">
							<option>A</option>
							<option>CNAME</option>
						</select>
					</td>
					<td><input name="ttl" type="text" class="input-mini"></td>
					<td class="record-value"><input name="value" type="text" class="input-xlarge"></td>
					<td>
						<input type="submit" class="btn btn-mini btn-success btn-single" value="Add" />
					</td>
				</tr>
				</tr>
			</form>
			<tr class="info">
				<td colspan="6"><b>System Records</b></th>
			</tr>
			{{ range $record := .SystemRecords }}
				{{ range $value := .Values }}
					<tr class="record-system">
						<td></td>
						<td class="record-name">{{ $record.Name }}</td>
						<td>{{ $record.Type }}</td>
						<td>{{ $record.TTL }}</td>
						<td class="record-value">{{ $value }}</td>
						<td></td>
					</tr>
				{{ end }}
			{{ end }}
		</tbody>
	</table>
	<script>
		$(window).ready(function() {
			$('#toggle-select').on('change', function() {
				console.log('checked', this.checked);
				$('input[type="checkbox"]').prop('checked', this.checked);
			});
		});
	</script>
{{ end }}
