{{ define "title" }} Convox {{ end }}

{{ define "body" }}

  {{ $app := . }}

	<div id="alert" class="alert alert-danger  alert-dismissible" role="alert" style="display:none;">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Error:</strong><span class="message"></span>
	</div>

	<ol class="breadcrumb">
		<li><a href="/apps">Apps</a></li>
		<li><a href="/apps/{{ .App }}">{{ .App }}</a></li>
		<li class="active">{{ .Name }}</li>
	</ol>

	<div class="panel panel-default">
		<div class="panel-body">
		</div>
	</div>

	<div class="table-title">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="title">
					<th colspan="6">
						Instances
					</th>
				</tr>
				<tr>
					<th>ID</th>
					<th class="expand">State</th>
					<th>CPU</th>
					<th>Memory</th>
					<th>Disk</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Instances }}
					<tr>
						<td class="id">{{ .Id }}</td>
						<td>{{ .State }}</td>
						{{ $metrics := .Metrics }}
						<td>{{ meter "cpu"    $metrics.Cpu    100 }}</td>
						<td>{{ meter "memory" $metrics.Memory 100 }}</td>
						<td>{{ meter "disk"   $metrics.Disk   100 }}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="#logs" role="tab" data-source="/apps/{{ .App }}/processes/{{ .Name }}/logs">Logs</a></li>
		<li role="presentation"><a href="#resources" role="tab" data-source="/apps/{{ .App }}/processes/{{ .Name }}/resources">Resources</a></li>
	</ul>

	<div id="tab-content"></div>

{{ end }}

{{ define "logs" }}
	<pre id="process-logs" class="logs"><p>Connecting...</p></pre>
	<script>
		connect_log_socket($('#process-logs'), '/apps/{{ .App }}/processes/{{ .Process }}/logs/stream');
	</script>
{{ end }}

{{ define "resources" }}
	<table class="table table-striped table-bordered process-resources">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th class="expand">Status</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			{{ range . }}
				<tr>
					<td>{{ .Name }}</td>
					<td>{{ .Type }}</td>
					<td class="expand">{{ .Status }}</td>
					<td>{{ timeago .Time }}</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
	<script>
		table_scroll($('.process-resources'), '365px');
	</script>
{{ end }}
