{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Conditions": {
    "Encrypted": {
      "Fn::Equals": [
        {
          "Ref": "Encrypted"
        },
        "true"
      ]
    }
  },
  "Parameters": {
    "AutoMinorVersionUpgrade": {
      "Type": "String",
      "Default": ""
    },
    "Encrypted": {
      "Type": "String",
      "Default": "false",
      "AllowedValues": [
        "true",
        "false"
      ]
    },
    "OwnerGid": {
      "Type": "String",
      "Default": "1000"
    },
    "OwnerUid": {
      "Type": "String",
      "Default": "1000"
    },
    "Password": {
      "Type": "String",
      "Default": ""
    },
    "Path": {
      "Type": "String",
      "Default": "/"
    },
    "Permissions": {
      "Type": "String",
      "Default": "0777"
    },
    "Rack": {
      "Type": "String"
    }
  },
  "Outputs": {
    "AccessPointId": {
      "Value": {
        "Fn::GetAtt": [
          "AccessPoint",
          "AccessPointId"
        ]
      }
    },
    "FileSystemId": {
      "Value": {
        "Fn::GetAtt": [
          "FileSystem",
          "FileSystemId"
        ]
      }
    }
  },
  "Resources": {
    "AccessPoint": {
      "Type": "AWS::EFS::AccessPoint",
      "Properties": {
        "FileSystemId": {
          "Ref": "FileSystem"
        },
        "RootDirectory": {
          "CreationInfo": {
            "OwnerGid": { "Ref": "OwnerGid" },
            "OwnerUid": { "Ref": "OwnerUid" },
            "Permissions": { "Ref": "Permissions" }
          },
          "Path": {
            "Ref": "Path"
          }
        },
        "AccessPointTags": [
          {{ range $key, $value := .Tags }}
          { "Key": "{{ $key }}", "Value": "{{ $value }}" },
          {{ end }}
          { "Key": "Name", "Value": "{{.Name}}" }
        ]
      }
    },
    "EncryptionKey": {
      "Type": "AWS::KMS::Key",
      "Condition": "Encrypted",
      "Properties": {
        "Description": {
          "Ref": "AWS::StackName"
        },
        "KeyPolicy": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Sid": "Allow administration of the key",
              "Effect": "Allow",
              "Principal": {
                "AWS": {
                  "Fn::Sub": "arn:${AWS::Partition}:iam::${AWS::AccountId}:root"
                }
              },
              "Action": [
                "kms:*"
              ],
              "Resource": "*"
            }
          ]
        },
        "PendingWindowInDays": "7",
        "Tags": [
          {{ range $key, $value := .Tags }}
          { "Key": "{{ $key }}", "Value": "{{ $value }}" },
          {{ end }}
          { "Key": "Name", "Value": "{{.Name}}" }
        ]
      }
    },
    "FileSystem": {
      "Type": "AWS::EFS::FileSystem",
      "Properties": {
        "Encrypted": {
          "Ref": "Encrypted"
        },
        "FileSystemTags": [
          {
            "Key": "Rack",
            "Value": {
              "Ref": "Rack"
            }
          }
        ],
        "KmsKeyId": {
          "Fn::If": [
            "Encrypted",
            {
              "Ref": "EncryptionKey"
            },
            {
              "Ref": "AWS::NoValue"
            }
          ]
        },
        "FileSystemTags": [
          {{ range $key, $value := .Tags }}
          { "Key": "{{ $key }}", "Value": "{{ $value }}" },
          {{ end }}
          { "Key": "Name", "Value": "{{.Name}}" }
        ]
      }
    },
    "MountTargetSecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "GroupDescription": {
          "Fn::Sub": "${Rack} ${AWS::StackName} EFS SG"
        },
        "VpcId": {
          "Fn::ImportValue": {
            "Fn::Sub": "${Rack}:Vpc"
          }
        },
        "SecurityGroupIngress": [
          {
            "IpProtocol": "tcp",
            "FromPort": 2049,
            "ToPort": 2049,
            "CidrIp": {
              "Fn::ImportValue": {
                "Fn::Sub": "${Rack}:VpcCidr"
              }
            }
          }
        ],
        "Tags": [
          {{ range $key, $value := .Tags }}
          { "Key": "{{ $key }}", "Value": "{{ $value }}" },
          {{ end }}
          { "Key": "Name", "Value": "{{.Name}}" }
        ]
      }
    },
    "MountTarget0": {
      "Type": "AWS::EFS::MountTarget",
      "Properties": {
        "FileSystemId": {
          "Ref": "FileSystem"
        },
        "SubnetId": {
          "Fn::ImportValue": {
            "Fn::Sub": "${Rack}:Subnet0"
          }
        },
        "SecurityGroups": [
          {
            "Ref": "MountTargetSecurityGroup"
          }
        ]
      }
    },
    "MountTarget1": {
      "Type": "AWS::EFS::MountTarget",
      "Properties": {
        "FileSystemId": {
          "Ref": "FileSystem"
        },
        "SubnetId": {
          "Fn::ImportValue": {
            "Fn::Sub": "${Rack}:Subnet1"
          }
        },
        "SecurityGroups": [
          {
            "Ref": "MountTargetSecurityGroup"
          }
        ]
      }
    }{{ if .ThirdAvailabilityZone }},{{ end }}
    {{ if .ThirdAvailabilityZone }}
    "MountTarget2": {
      "Type": "AWS::EFS::MountTarget",
      "Properties": {
        "FileSystemId": {
          "Ref": "FileSystem"
        },
        "SubnetId": {
          "Fn::ImportValue": {
            "Fn::Sub": "${Rack}:Subnet2"
          }
        },
        "SecurityGroups": [
          {
            "Ref": "MountTargetSecurityGroup"
          }
        ]
      }
    }
    {{ end }}
  }
}
