{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Parameters": {
    "Class": {
      "Type": "String",
      "Default": "cache.t2.micro"
    },
    "Nodes": {
      "Type": "Number",
      "Default": "1"
    },
    "Password": {
      "MinLength": "8",
      "NoEcho": true,
      "Type": "String"
    },
    "Rack": {
      "MinLength": "1",
      "Type": "String"
    },
    "Version": {
      "Type": "String",
      "Default": "1.4"
    }
  },
  "Outputs": {
    "Url": { "Value": { "Fn::Sub": "${CacheCluster.ConfigurationEndpoint.Address}:${CacheCluster.ConfigurationEndpoint.Port}" } }
  },
  "Resources": {
    "SecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "GroupDescription": { "Fn::Sub": "${AWS::StackName} security group" },
        "SecurityGroupIngress": [
          { "IpProtocol": "tcp", "FromPort": "11211", "ToPort": "11211", "CidrIp": { "Fn::ImportValue": { "Fn::Sub": "${Rack}:VpcCidr" } } }
        ],
        "VpcId": { "Fn::ImportValue": { "Fn::Sub": "${Rack}:Vpc" } }
      }
    },
    "SubnetGroup": {
      "Type": "AWS::ElastiCache::SubnetGroup",
      "Properties": {
        "Description": { "Fn::Sub": "${AWS::StackName} subnets" },
        "SubnetIds": [
          { "Fn::ImportValue": { "Fn::Sub": "${Rack}:Subnet0" } },
          { "Fn::ImportValue": { "Fn::Sub": "${Rack}:Subnet1" } }
        ]
      }
    },
    "CacheCluster": {
      "Type": "AWS::ElastiCache::CacheCluster",
      "Properties": {
        "AutoMinorVersionUpgrade": true,
        "CacheNodeType": { "Ref": "Class" },
        "CacheSubnetGroupName": { "Ref": "SubnetGroup" },
        "Engine": "memcached",
        "EngineVersion": { "Ref": "Version" },
        "NumCacheNodes": { "Ref": "Nodes" },
        "Port": "11211",
        "VpcSecurityGroupIds": [ { "Ref": "SecurityGroup" } ]
      }
    }
  }
}
