{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Conditions": {
    "BlankEncrypted": { "Fn::Equals": [ { "Ref": "Encrypted" }, "" ] },
    "BlankIops": { "Fn::Equals": [ { "Ref": "Iops" }, "0" ] },
    "BlankPreferredBackupWindow": { "Fn::Equals": [ { "Ref": "PreferredBackupWindow" }, "" ] },
    "NotBlankSnapshot": { "Fn::Not": [ { "Fn::Equals": [ { "Ref": "Snapshot" }, "" ] } ] },
    "SnapshotOrReadOrPromoted": { "Fn::Or": [ { "Condition": "ReadReplicaOrPromoted" }, { "Condition": "NotBlankSnapshot" } ] },
    "IsReadReplica": { "Fn::Not": [ { "Fn::Equals": [ { "Ref": "ReadSourceDB" }, "" ] }]},
    "IsPromotedFromReplica": { "Fn::Not": [ { "Fn::Equals": [ { "Ref": "PromotedFromReplica" }, "" ] }]},
    "ReadReplicaOrPromoted": { "Fn::Or": [ { "Condition": "IsPromotedFromReplica" }, { "Condition": "IsReadReplica" } ] },
    "BlankPreferredBackupWindowOrReadReplica": { "Fn::Or": [ { "Condition": "BlankPreferredBackupWindow" }, { "Condition": "IsReadReplica" } ] },
    "BlankParameterGroupName": { "Fn::Equals": [ { "Ref": "ParameterGroupName" }, "" ] },
    "Version9": { "Fn::Equals": [ { "Fn::Select": [ 0, { "Fn::Split": [ ".", { "Ref": "Version" } ] } ] }, "9" ] }
  },
  "Parameters": {
    "AutoMinorVersionUpgrade": {
      "Type" : "String",
      "Default": "true",
      "AllowedValues" : [ "true", "false" ]
    },
    "BackupRetentionPeriod": {
      "Type": "Number",
      "Default": "1"
    },
    "Class": {
      "Type": "String",
      "Default": "db.t2.micro"
    },
    "DeletionProtection": {
      "Type": "String",
      "Default": "false",
      "AllowedValues": [ "true", "false" ]
    },
    "Durable": {
      "Type": "String",
      "Default": "false",
      "AllowedValues": [ "true", "false" ]
    },
    "Encrypted": {
      "Type": "String",
      "Default": "",
      "AllowedValues": [ "true", "false", "" ]
    },
    "Iops": {
      "Type": "Number",
      "Default": "0"
    },
    "Password": {
      "MinLength": "8",
      "NoEcho": true,
      "Type": "String"
    },
    "ParameterGroupName": {
      "Type" : "String",
      "Default": ""
    },
    "PreferredBackupWindow": {
      "Type": "String",
      "Default": ""
    },
    "Rack": {
      "MinLength": "1",
      "Type": "String"
    },
     "ReadSourceDB": {
      "Type": "String",
      "Default": ""
    },
    "PromotedFromReplica": {
      "Type": "String",
      "Default": ""
    },
    "Snapshot": {
      "Type" : "String",
      "Default": ""
    },
    "Storage": {
      "Type": "Number",
      "Default": "20"
    },
    "Version": {
      "Type": "String",
      "Default": "12"
    }
  },
  "Outputs": {
    "Url": { "Value": { "Fn::Sub": "postgres://app:${Password}@${Instance.Endpoint.Address}:${Instance.Endpoint.Port}/app" } },
    "User": { "Value": "app" },
    "Pass": { "Value": { "Ref": "Password" } },
    "Host": { "Value": { "Fn::GetAtt": [ "Instance", "Endpoint.Address" ] } },
    "Port": { "Value": { "Fn::GetAtt": [ "Instance", "Endpoint.Port" ] } },
    "Name": { "Value": "app" }
  },
  "Resources": {
    "SecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "GroupDescription": { "Fn::Sub": "${AWS::StackName} security group" },
        "SecurityGroupIngress": [
          { "IpProtocol": "tcp", "FromPort": "5432", "ToPort": "5432", "CidrIp": { "Fn::ImportValue": { "Fn::Sub": "${Rack}:VpcCidr" } } }
        ],
        "VpcId": { "Fn::ImportValue": { "Fn::Sub": "${Rack}:Vpc" } }
      }
    },
    "SubnetGroup": {
      "Type": "AWS::RDS::DBSubnetGroup",
      "Properties": {
        "DBSubnetGroupDescription": { "Fn::Sub": "${AWS::StackName} subnets" },
        "SubnetIds": [
          { "Fn::ImportValue": { "Fn::Sub": "${Rack}:Subnet0" } },
          { "Fn::ImportValue": { "Fn::Sub": "${Rack}:Subnet1" } }
        ]
      }
    },
    "Instance": {
      "Type": "AWS::RDS::DBInstance",
      "DeletionPolicy": "Snapshot",
      "Properties": {
        "AllocatedStorage": { "Ref": "Storage" },
        "AllowMajorVersionUpgrade": "true",
        "AutoMinorVersionUpgrade": { "Ref": "AutoMinorVersionUpgrade" },
        "BackupRetentionPeriod": { "Fn::If": [ "IsReadReplica", { "Ref": "AWS::NoValue" }, { "Ref": "BackupRetentionPeriod" } ] },
        "DBInstanceClass": { "Ref": "Class" },
        "DBInstanceIdentifier": { "Ref": "AWS::StackName" },
        "DBName": { "Fn::If": [ "SnapshotOrReadOrPromoted", { "Ref": "AWS::NoValue" }, "app" ] },
        "DBParameterGroupName": { "Fn::If": [ "BlankParameterGroupName",
        { "Fn::Sub": [ "default.postgres${Base}", {
          "Base": { "Fn::If": [ "Version9",
            { "Fn::Join": [ ".", [
              { "Fn::Select": [ 0, { "Fn::Split": [ ".", { "Ref": "Version" } ] } ] },
              { "Fn::Select": [ 1, { "Fn::Split": [ ".", { "Ref": "Version" } ] } ] }
            ] ] },
            { "Fn::Select": [ 0, { "Fn::Split": [ ".", { "Ref": "Version" } ] } ] }
          ] }
        } ] }
        ,
        { "Ref": "ParameterGroupName" } ] },
        "DBSubnetGroupName": { "Fn::If": [ "ReadReplicaOrPromoted", { "Ref": "AWS::NoValue" }, { "Ref": "SubnetGroup" } ] },
        "DBSnapshotIdentifier": { "Fn::If": [ "NotBlankSnapshot", { "Ref": "Snapshot" }, { "Ref": "AWS::NoValue" } ] },
        "DeletionProtection": { "Ref": "DeletionProtection" },
        "Engine": "postgres",
        "EngineVersion": { "Ref": "Version" },
        "Iops": { "Fn::If": [ "BlankIops", { "Ref": "AWS::NoValue" }, { "Ref": "Iops" } ] },
        "MasterUsername": { "Fn::If": [ "SnapshotOrReadOrPromoted", { "Ref": "AWS::NoValue" }, "app" ] },
        "MasterUserPassword": { "Fn::If": [ "SnapshotOrReadOrPromoted", { "Ref": "AWS::NoValue" }, { "Ref": "Password" } ] },
        "MultiAZ": { "Ref": "Durable" },
        "Port": "5432",
        "PreferredBackupWindow": { "Fn::If": [ "BlankPreferredBackupWindowOrReadReplica", { "Ref": "AWS::NoValue" }, { "Ref": "PreferredBackupWindow" } ] },
        "PubliclyAccessible": "false",
        "StorageEncrypted": { "Fn::If": [ "NotBlankSnapshot", { "Ref": "AWS::NoValue" }, { "Ref": "Encrypted" } ] },
        "StorageType": { "Fn::If": [ "BlankIops", "gp2", "io2" ] },
        "SourceDBInstanceIdentifier": { "Fn::If": [ "IsReadReplica", { "Ref": "ReadSourceDB" }, { "Ref": "AWS::NoValue" } ] },
        "VPCSecurityGroups": [ { "Ref": "SecurityGroup" } ]
      }
    }
  }
}
